[2019-08-15 15:52] Sh1d0w opened #1 "Can't install dependencies"
Running `npm install` yields the following error:

error Couldn't find package "@nodegui/qode@^1.0.0" required by "@nodegui/nodegui@^0.1.1" on the "npm" registry.

[2019-08-15 16:22] master-atul commented on #1
That is strange. Is this happening with the react-nodegui-starter repo ? @Sh1d0w

[2019-08-15 16:24] Sh1d0w commented on #1
Hey, yes I wanted to try the react repo. If I search for such package in the npmjs website there is also no match. Are you sure the package is publicly accessible?

[2019-08-15 16:26] master-atul commented on #1
Wow that was the most embarrasing mistake I did. Thanks for pointing out! I have made everything public now. Cheers

[2019-08-15 16:29] master-atul commented on #1
I hope it works now 😄  . I am going to close this issue

[2019-08-15 16:29] #1 closed

[2019-08-15 17:23] RVxLab opened #2 "Link in repo description leads to 404 due to encoded space"
The link in the repo goes to `https://nodegui.github.io/nodegui%20`, removing the `%20` makes it work.

<sub><sup>Might be a little nitpicky, sorry.</sup></sub>

[2019-08-15 17:25] master-atul commented on #2
Thanks a lot for pointing this out! Its fixed now.

[2019-08-15 17:25] #2 closed

[2019-08-15 19:10] SirCameron opened #3 "Failing to install dependencies"
I'm unable to run the example apps. npm install and yarn fail.

output:
[code]

[2019-08-15 19:19] master-atul commented on #3
Is this only with this specific example  or all of them?

[2019-08-15 19:20] master-atul commented on #3
Could you try the starter repo https://github.com/nodegui/react-desktop-starter ?

[2019-08-15 20:01] elilambnz opened #4 "Issue with libicu on Ubuntu"
Ubuntu 19.04
`npm@6.10.2`
`node@v12.8.1`

Error when running `npm start`:

[code]

Full log:

[code]

[2019-08-15 21:36] master-atul commented on #3
Alright this seems to be node-gyp issue.
https://github.com/libxmljs/libxmljs/issues/469

Seems like you have python3 installed and node-gyp has issues with it. Would it be possible for you to try with python2 or alternatives as suggested on the above link?

I am planning to add precompiled binary support for this library. But until then this might help.

[2019-08-15 22:13] master-atul commented on #4
Could you try installing libicu-dev on your system ? @elilambnz

`sudo apt-get install libicu-dev`

I believe this module has a dependency to that. If that solves it, I will update the README.

[2019-08-15 22:43] elilambnz commented on #4
Thanks for the fast reply. Yes, this is one of the first things I tried and it unfortunately does not fix the issue.

[2019-08-15 22:47] elilambnz commented on #4
If it helps, this is my output for `sudo apt-get install libicu*`

[code]

[2019-08-16 01:38] jordanmkoncz commented on #3
@master-atul thanks for finding that, I had this issue too and I can confirm that switching to Python 2 for the installation resolves it.

If you have Python installed using `pyenv` (https://github.com/pyenv/pyenv), this is very easy to do (and if you don't have Python installed using `pyenv`, I highly recommend it. Basic steps with `pyenv`:

- `pyenv install 2.7.16` (assuming a version of Python

[2019-08-16 03:54] master-atul commented on #3
Related node-gyp issues: https://github.com/nodejs/node-gyp/issues/193

[2019-08-16 14:32] Regaron opened #5 "Hot Reload"
How to enable hot reload?

[2019-08-16 14:43] master-atul commented on #5
Its not yet present. But I believe you could use react-hot-reloader from dan abramov.

But this is definetly on the cards to support.

[2019-08-16 15:31] master-atul commented on #4
Hey @elilambnz  Can you also try installing `libgtk-3-dev` and try ?

[2019-08-16 15:54] gustavsl commented on #4
This is also true for Arch Linux with icu 64.2-1.

[2019-08-16 17:10] master-atul commented on #4
Hi @gustavsl  Have you tried installing libgtk-3-dev awell ?

[2019-08-16 17:14] master-atul commented on #4
nevermind I am able to reproduce the issue now after uninstalling the installed QT library from my system.

[2019-08-16 17:15] master-atul commented on #4
If you want it to work for now, make sure you have qt for linux installed and its bin folder in PATH. I will try and fix it so that it doesnt really need QT to be installed on the system meanwhile.

[2019-08-16 17:39] krestaino opened #6 "How do you build binaries?"
Not seeing it in the docs or example repos. Is this not available yet? I'm eager to try this out, so thanks for your work and sharing it.

[2019-08-16 17:40] krestaino commented on #6
Never mind.

https://github.com/nodegui/nodegui#building

[2019-08-16 17:40] #6 closed

[2019-08-16 17:41] master-atul commented on #6
Yes the packaging process is under development.  You should hear something about it by next week for sure 😬

[2019-08-16 17:42] krestaino commented on #6
Awesome, sounds good. I'll keep my eye out!

[2019-08-16 17:56] master-atul commented on #4
Alright! Latest version of NodeGUI nodegui@0.1.3 has the fix for linux environment. I had missed few dynamic libraries.
Just take a pull of this repo
do npm install
and npm start

and it should work!

[2019-08-16 17:58] master-atul commented on #4
Closing this issue. Please re open if the issue persists.

[2019-08-16 17:58] #4 closed

[2019-08-17 08:39] master-atul commented on #3
Will update Readme and close this issue : https://github.com/nodegui/nodegui/projects/1#card-25295641

[2019-08-17 08:39] #3 closed

[2019-08-17 08:40] master-atul commented on #5
Its on the cards here: https://github.com/nodegui/nodegui/projects/1#card-25295584

Closing this issue

[2019-08-18 15:00] master-atul opened #7 "test"

[2019-08-18 15:01] master-atul commented on #7
@all-contributors please add @kakulgupta and @rgabs  for code

[2019-08-18 15:01] #7 closed

[2019-08-18 15:02] master-atul commented on #7
@all-contributors please add @rgabs for code

[2019-08-18 15:03] master-atul commented on #7
@all-contributors please add @kakulgupta   for code

[2019-08-18 15:04] master-atul commented on #7
@all-contributors please add @kakulgupta  for code

[2019-08-19 10:39] quaj opened #13 "Example calculator not work"
I'm testing calculator but it throw a error typing 😭

![image](https://user-images.githubusercontent.com/16853175/63259244-0ffc5480-c2a8-11e9-8289-f7b6b5a679ad.png)

[2019-08-19 10:57] raajnadar commented on #13
Try `npm run start` maybe this will work

[2019-08-19 11:21] quaj commented on #13
still throw error, i tried remove and install again `@types/react` but seems not work

![image](https://user-images.githubusercontent.com/16853175/63261585-0d046280-c2ae-11e9-9afd-8a14d3ed361a.png)

[2019-08-19 11:39] mikaello commented on #13
This example you are trying to run, https://github.com/nodegui/examples/tree/master/react-nodegui/calculator ? It works here with `yarn` on OSX Mojave:
<img width="612" alt="Skjermbilde 2019-08-19 kl  13 37 14" src="https://user-images.githubusercontent.com/2505178/63262589-a6b81980-c286-11e9-8fed-0e30798cec58.png">

[2019-08-19 12:11] quaj commented on #13
@mikaello yes i use this example

[2019-08-19 14:16] idoo commented on #13
try to run `yarn --no-lockfile`
works for me as well

[2019-08-19 14:32] quaj commented on #13
![image](https://user-images.githubusercontent.com/16853175/63273798-d25bf380-c2c8-11e9-995b-aa46c674d956.png)

still not works 🤧

[2019-08-19 14:36] master-atul commented on #13
Hi the errors mentiones that you have duplicate versions of `@types/react`

Are you running this via the new repo: https://github.com/nodegui/examples

I had moved the examples there to avoid problems like these.

If you take a pull of the react nodegui repo. You will not find examples there.

[2019-08-19 14:36] master-atul commented on #13
You could try the example from https://github.com/nodegui/examples and report back if you face same issue. @quaj

[2019-08-19 14:43] quaj commented on #13
I'm testing in a clone from [nodegui/examples](https://github.com/nodegui/examples) nah

![image](https://user-images.githubusercontent.com/16853175/63274615-4cd94300-c2ca-11e9-88ab-4c881246988a.png)

[2019-08-19 14:46] master-atul commented on #13
Alright could you do `npm uninstall @types/react` and try running it after that. @quaj

[2019-08-19 15:01] quaj commented on #13
Ok now worked, dont know why but running
Could you explain?

[2019-08-19 15:01] #13 closed

[2019-08-19 15:02] quaj commented on #13
Wow bundle so big
![image](https://user-images.githubusercontent.com/16853175/63276162-09cc9f00-c2cd-11e9-89fc-ed7e38881082.png)

[2019-08-19 15:49] master-atul commented on #13
@quaj  Not really. This is your dev environment. It contains all dev node modules,assets etc.

Packaging of the app is still not ready yet. That packaged app should be around 20 - 50mb depending on the platform.

[2019-08-19 16:18] quaj commented on #13
no only "@nodegui" folder, seems that comes from @nodegui/qode with 205MB

![image](https://user-images.githubusercontent.com/16853175/63281598-430a0c80-c2d7-11e9-9085-a0c36748492e.png)

[2019-08-19 16:19] quaj commented on #13
here is qode info
![image](https://user-images.githubusercontent.com/16853175/63281796-b3b12900-c2d7-11e9-8a41-911bdfd3666b.png)

[2019-08-19 16:51] master-atul commented on #13
Yes precisely, This contains all the development environment you need to run while developing.
Notice how everything works without installing Qt ? This is what does that magic.
And you never distibute entire folder from node_modules to users. You need to bundle the required javascript using webpack or any other bundler and then copy over only the dynamically linked libraries. As I said before the

[2019-08-20 03:01] matthewdias opened #14 "LineEdit text does not update for empty string"
Example:
[code]
![CleanShot 2019-08-19 at 21 57 04](https://user-images.githubusercontent.com/3302524/63314251-a6427180-c2cc-11e9-8e3e-8f0dd473728c.gif)

[2019-08-20 16:08] master-atul commented on #14
Will be fixed in the next release. Thanks for reporting @matthewdias :)

[2019-08-22 21:24] #14 closed

[2019-08-23 22:55] agustif commented on #5
What about using nodemon or watchman when calling yarn dev or start from package.json?

Great project btw!

[2019-08-28 09:56] pepf opened #20 "Difference between rendered components and app state"
I've been working on a small "notes" app and encounter the following issue when trying to implement "remove a note with id `x` feature". I believe the bug might be more generic than just my notes app (updating state? trigger re-renders?) but this is just an easy way to expose the behaviour.

**Node version:** v10.15.2
**@nodegui/react-nodegui**: 0.1.5,

**Expected:**
Pressing the trash icon next t

[2019-08-28 12:58] wcastand opened #21 "Question: Any plans for native menu items?"
Hello, look like a really promising project.

Do you know if it's possible and if it would be hard to provide a way to create native menu like `File` `Edit`, etc ?

Something like this : https://electronjs.org/docs/api/menu

maybe even something like dock menu :
https://electronjs.org/docs/tutorial/macos-dock

I didn't use Qt in many many years but would making the bindings be a hard thing to do?

[2019-08-28 20:49] illBeRoy opened #22 "Question: Making Views Scrollable"
Hello!

First of all, I've just run into nodegui a couple of days ago and it seems absolutely amazing. While not the first react desktop solution out there, it sure does deliver simplicity of set up and ease of use. Kudos.

I've a question regarding scrolling: I'm trying to figure out how I can make certain views scrollable. `overflow: scroll` has no effect, and I'm not sure whether or not I shoul

[2019-08-28 21:21] master-atul commented on #22
Hi @illBeRoy
Yes It would be amazing if you can help out in anyway.  I am always ready to help out. I think we can just use this issue as a discussion channel in case you need any help.

Yes overflow:scroll doesnt exist in Qt CSS
these are the supported properties: https://doc.qt.io/archives/qt-4.8/stylesheet-reference.html#list-of-properties

For scrolling you would need to use QScrollArea which

[2019-08-28 21:34] illBeRoy commented on #22
Thanks for the quick response! I'll fork the `react-nodegui` repo and try to get a `ScrollArea` component done :)

[2019-08-30 07:49] master-atul commented on #21
Hi @wcastand
Its not implemented yet, but
Yes, we can support this since Qt supports it.  It will be implemented soon.

[2019-08-30 09:34] wcastand commented on #21
is there anyway to help? I won't pretend my 10 years old Qt coding skill will be useful to do it myself but let me know if I can with testing or something else :)

[2019-08-30 09:47] master-atul commented on #21
Yes, yes, You can follow the contributors guide to help with the project, docs, testing.
https://nodegui.github.io/nodegui/#/development/README
@wcastand
It is fairly straightforward to get started.
I would recommend you start by adding an unexported method to an existing widget.
For example:
You could add the corresponding Qt method to QProgressbar
https://doc.qt.io/qt-5/qprogressbar.html#textVis

[2019-08-30 09:47] master-atul commented on #21
You can always use this issue as a discussion channel if you are in need of help.

[2019-08-30 09:49] wcastand commented on #21
I'll probably take a look this weekend then. Thanks for the guide :)

[2019-09-02 01:04] slidinghotdog commented on #20
i have a similar problem, when adding values to an array and using map to render Text elements, it doesnt get updated when adding or removing items, but it updates on next click(either adding or removing, but it stays one cycle behind), also updates if i click another button unrelated to the array..

this is my component (if the text on update button doesn't change it won't update)
[code]

version

[2019-09-02 16:59] master-atul commented on #5
For a temporary solution:

Live reload can be achieved by adding the following npm script:

[code]

[2019-09-05 08:27] mojtabamarashee opened #25 "How to make executable file for windows"

[2019-09-05 08:39] master-atul commented on #25
You can make executables for all platforms using http://github.com/nodegui/packer

[2019-09-05 08:39] #25 closed

[2019-09-07 01:16] nateshmbhat opened #26 "Support for Create React app"

[2019-09-07 01:17] nateshmbhat opened #27 "Support for CSS keyframes"

[2019-09-07 01:19] nateshmbhat opened #28 "Auto Translation of normal CSS into qproperty feature request"
The styling should feel more natural to the user just as in using with react and other web development frameworks . so it would be very helpful to add translation of many unsupported css properties into corresponding Qt css properties.

[2019-09-07 01:23] nateshmbhat opened #29 "Add LICENSE to this project"

[2019-09-07 01:25] #29 closed

[2019-09-07 22:16] ColeTownsend opened #31 "Support for svg in React code."
**Supporting inline SVG**

React by default can support inline svg code. Because NodeGUI does not render to a browser window though, we can't use that.

**Possible Solutions**
One solution might be to bridge [QTSvg](https://docs.huihoo.com/qt/4.2/qtsvg.html) albeit I am not savvy enough to do this.

**Sample code that triggered error**
[code]

[2019-09-08 12:47] master-atul commented on #28
Hi @nateshmbhat
Could you give an example of what you are suggesting?

Currently you dont need to use qproperty- for any flex properties as they are taken care of by an autoprefixer already https://github.com/nodegui/postcss-nodegui-autoprefixer

[2019-09-08 12:49] master-atul commented on #27
I am not really sure if this would be possible since we are not running inside a browser. Also i am not sure if Qt CSS supports this? We could instead look at exporting QAnimation from Qt instead?

[2019-09-11 21:15] master-atul commented on #22
This is now available in v0.1.9 of react-nodegui and nodegui.

Hence closing this issue.  :)

[2019-09-11 21:15] #22 closed

[2019-09-11 21:15] master-atul commented on #20
This issue is now fixed in v0.1.9 of nodegui and react-nodegui

@pepf @slidinghotdog
Let me know if it fixes it after upgrading

[2019-09-11 22:43] slidinghotdog commented on #20
@master-atul its working great now, thanks!

[2019-09-12 05:12] master-atul commented on #20
Awesome 🚀

[2019-09-12 05:12] #20 closed

[2019-09-12 05:29] pepf commented on #20
Seems to work! 👌

[2019-09-26 03:15] khanobd opened #35 "npm start doesnt work ends with Error"
![nodegui](https://user-images.githubusercontent.com/32788126/65655706-b6234300-e03a-11e9-9008-c4c90d47ec56.jpg)
on  npm start  get below error

error in index.ts
Module not found : Error  : cant resolve  @nodegui/nodegui  in c/user/lenovo/node-sarter/src
npm ERR! nodegui-starter@1.0.0 start .......

 - OS: windows 7
 - NodeGUI version    v 12.10
 - React NodeGUI version
npm   6.10.3

Kindly sugge

[2019-09-26 18:27] master-atul commented on #35
Hi @khanobd
Could you try deleteing you node_modules folder and do an npm install again ?

Also could you post the logs of your npm install aswell ?

[2019-09-26 19:38] Suniron opened #36 "Debugging code process page 404"
**Describe the bug**
The documentation page for debugging process is not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow ink [https://docs.nodegui.org/#/tutorial/debugging-qode-process]
2. See error

[2019-09-26 19:51] master-atul commented on #36
Hmm, thats weird.
But here is the actual working link : https://docs.nodegui.org/#/tutorial/debugging-app?id=debugging-qode-process

We are also currently working on a shiny new documentation website that should fix all of the broken links as well. The new documentation website should be much easier to work and should be available very soon. Thanks for reporting anyway! 👍

[2019-09-26 21:53] Suniron commented on #36
OK thanks!

I'm really impatient to read the React Documentation for nodegui :-D!

[2019-09-27 13:28] khanobd commented on #35
Hi @master-atul
Please find logs attached .
delete my nodegui-starter
and run below commands again
-----------------------------------------
# Clone the repository
$ git clone https://github.com/nodegui/nodegui-starter
# Go into the repository
$ cd nodegui-starter
# Install dependencies
$ npm install
# Run the app
$ npm start
-----------------------------------------
please find logs attached
[201

[2019-09-28 13:57] khanobd commented on #35
sorry for bold and fonts

[2019-09-30 15:45] herlarb opened #37 "QPixmap::scaled: Pixmap is a null pixmap"
**Describe the bug**
When I attempt to load an image from a remote repository I get an error message "QPixmap::scaled: Pixmap is a null pixmap"
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I expect that I am able to load Images from remote URLs

**Desktop (please complete the following information):**
 - OS:  Windows
 - NodeGUI version: 0.1.9
 - React NodeGUI ver

[2019-10-01 12:48] khanobd commented on #35
[2019-10-01T12_47_24_654Z-debug.log](https://github.com/nodegui/react-nodegui/files/3676223/2019-10-01T12_47_24_654Z-debug.log)
[Uploading 2019-10-01T12_47_34_370Z-debug.log…]()

[2019-10-03 05:06] lacymorrow opened #38 "Packer for react-nodegui"
**Packing for **`react-nodegui`

This requires a bit of restructuring of the repo. Since Packer executes the `src/index` file when the executable is run, I recommend renaming `src/index.ts` to `src/exports.ts` and creating your app root at `src/index.tsx`.

Remember to change your imports to something like:
`import { Renderer, View, Button, Window, LineEdit, Text } from "./exports";`

[2019-10-05 06:55] khanobd commented on #35
kindly suggest

[2019-10-05 07:52] master-atul commented on #35
Hi @khanobd

I was a bit busy last few days. Have you installed all the requirements mentioned here:
https://docs.nodegui.org/docs/guides/getting-started ?

Looks like the build doesnt start on your system.

[2019-10-05 07:57] khanobd commented on #35
Yes and tried on other system too but no success

[2019-10-05 08:07] khanobd commented on #35
npm start  comes up with error always

[2019-10-05 09:36] master-atul commented on #35
Hi, I believe it might be possible that we have issues with Windows7.
But anyway could you install https://visualstudio.microsoft.com/visual-cpp-build-tools/
and give it a try again?  @khanobd

[2019-10-05 09:49] khanobd commented on #35
Ok I will and update

[2019-10-05 22:16] adamsoutar opened #39 "Spaces not allowed in project directory"
**Describe the bug**

Not sure this is the right repo to file this in, but when performing `npm install` in the react-nodegui-starter, I got
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create and cd to a directory path with a space in it
2. `git clone https://github.com/nodegui/react-nodegui-starter`
3. `npm i`

**Expected behavior**
Dependencies install correctly

**Screenshots*

[2019-10-07 06:07] khanobd commented on #35
Hi Atul

Install build but no success

[2019-10-09 08:56] yuu2lee4 opened #41 "how to run after build"
i cant run dist after i run command `npm run build`
![image](https://user-images.githubusercontent.com/8046366/66466600-9289df00-eab5-11e9-83ce-bfb3466d8ef4.png)

[2019-10-09 12:15] mjarmoc opened #42 "Routing"
**Is your feature request related to a problem? Please describe.**
Hi. Thank you for the project. It looks really great and makes me want to dig in, despite the fact I am not a react developer. I have checked the examples and my concern is that even with simple apps things are getting complex really fast. What I am missing is some kind of DOM-less router to attach/detach components based on global

[2019-10-10 05:15] sophiehui99 opened #43 "require("@nodegui/nodegui") in version 0.1.9"
in version 0.1.9,the package name is ‘react-nodegui’,but in components,you use it with 'require("@nodegui/nodegui")'.
You should reference it with ‘require("@nodegui/react-nodegui")’ or change the package name

![image](https://user-images.githubusercontent.com/18158091/66538604-c0276480-eb57-11e9-953f-47f0fa15b5d3.png)

[2019-10-10 07:25] khanobd commented on #35
Hi @master-atul

Done with configuration on windows 10 ... it was actually some version and upgrades
Need to configure on linux and done whole setup " npm install" successfull just atlast while " npm start "
get below  error
"qt.qpa.xcb: could not connect to display
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start because n

[2019-10-10 07:39] master-atul commented on #35
Nice!
Okay so some linux distributions have this issue. (Ubuntu/Debian works fine). To solve this you can install qt on your linux system (only needed for development).

[2019-10-10 10:25] khanobd commented on #35
@master-atul   QT installed but still comes up with this error ...Kindly suggest

[2019-10-10 11:44] master-atul commented on #35
Okay once you have done that.
Can you try setting an environment variable QT_INSTALL_DIR=/Users/<path to qt>/5.13.0/clang_64
before running the npm run start command @khanobd

[2019-10-10 23:27] scotteratigan opened #45 "npm install fails"
**Describe the bug**
npm install fails

**To Reproduce**
1. npm install

**Expected behavior**
npm install is expected to finish without error

**Screenshots**
Error Log:

G:\react-nodegui-starter\node_modules\@nodegui\nodegui>if not defined npm_config_node_gyp (node "C:\Users\Admin\AppData\Roaming\npm\node_modules\npm\node_modules\npm-lifecycle\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-g

[2019-10-11 13:50] herlarb commented on #42
@mjarmoc  I already asked something similar in the spectrum chat sometimes back and this was the response I got from @master-atul

Hope this information helps

[2019-10-12 05:59] khanobd commented on #35
Hi @master-atul
Done with mentioned above steps   still geting below message
=============
qt.qpa.xcb: could not connect to display
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.
=====================
Kindly suggest

[2019-10-12 09:48] khanobd commented on #35
One more issue facing here with
eps@ubuntu:~$ node -v
v10.16.3
eps@ubuntu:~$ nodejs -v
v4.2.6
eps@ubuntu:~$

even after purge and reinstalling 12x on restart its again V10.6
tried a lot but no success If can please suggest too may be this too issue create problem
using ubuntu 16.4

[2019-10-12 13:11] J-Cake opened #46 "ScrollArea is very difficult to use"
More of an enhancement than a bug report, but using the `ScrollArea` isn't the easiest thing in the world. for example, I can't seem to get it to fill the parent, nor, will it render its content whatsoever.

I so far have only been ale to declare one with fixed sizes declared in pixels through CSS, but I need it to fill the parent. If not, perhaps an automatically overflowing `View` would be a bet

[2019-10-12 13:36] master-atul commented on #35
Could you install node js using something like nvm : https://github.com/nvm-sh/nvm
This should allow you to easily switch node versions.

[2019-10-12 23:35] #38 closed

[2019-10-14 05:59] khanobd commented on #35
eps@ubuntu:~$ node -v
v10.16.3
eps@ubuntu:~$ nvm ls
->     v10.16.3
        v12.4.0
       v12.11.1
         system
default -> v10.16.3
node -> stable (-> v12.11.1) (default)
stable -> 12.11 (-> v12.11.1) (default)
eps@ubuntu:~$ nvm use system
Now using system version of node: v12.4.0 (npm v6.9.0)
eps@ubuntu:~$ nvm run system --v12.4.0
Running node system (npm v6.9.0)
eps@ubuntu:~$ node -v
v12.4.0

[2019-10-14 07:56] khanobd commented on #35
Running below mentioned steps
rm -rf node_modules
QT_INSTALL_DIR=/Users/path/to/qt/5.13.0/clang_64 npm install
and
QT_INSTALL_DIR=/Users/path/to/qt/5.13.0/clang_64 npm start

Still Come still with error

qt.qpa.xcb: could not connect to display
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start because no Qt platform plugin c

[2019-10-14 17:21] master-atul commented on #46
Hi @J-Cake
I have updated the starter project : react-nodegui-starter with a scrollview that fills the parent widget. I think it might be what you are looking for.

[2019-10-14 17:21] master-atul commented on #46
There is a tiny bug where I need to assign min-width and min-height to the scrollView child at the moment.

[2019-10-14 17:23] master-atul commented on #45
Hi @scotteratigan  I have updated the starter project (react-nodegui-starter). Could you try again and let me know ?
Make sure you have cmake installed.

[2019-10-14 17:24] master-atul commented on #43
Hi @sophiehui99
React NodeGui depends on nodegui for rendering its widgets. So RNCheckbox will need to import from nodegui/nodegui.

You can try the updated starter project here: https://github.com/nodegui/react-nodegui-starter and let us know if you still face issues.

[2019-10-14 17:25] master-atul commented on #41
Hi @yuu2lee4  Seems like some dependecies did not install correctly.
Could you try the updated https://github.com/nodegui/react-nodegui-starter
again and let us know.

[2019-10-14 17:27] master-atul commented on #39
Hi @adamsoutar
Yes, this was the limitation with `node-gyp` which was the build system (default nodejs addon build system( used in nodegui@0.1.9.

In nodegui@0.2 and up we are using cmake. You could try the updated https://github.com/nodegui/react-nodegui-starter and this should go away.

[2019-10-14 17:27] #39 closed

[2019-10-15 13:57] #36 closed

[2019-10-15 13:57] #28 closed

[2019-10-15 13:57] #27 closed

[2019-10-15 13:59] master-atul commented on #35
could you post the actual command you used instead of
``` QT_INSTALL_DIR=/Users/path/to/qt/5.13.0/clang_64 npm install``` ?

[2019-10-16 05:57] yuu2lee4 commented on #41
![image](https://user-images.githubusercontent.com/8046366/66891897-c8324900-f01c-11e9-9558-faab0656f25b.png)
so i need get a cmake for my mac?

[2019-10-16 06:11] khanobd commented on #35
@master-atul remove  modules and run below commands to install and run as mentioned by you few days back

rm -rf node_modules
QT_INSTALL_DIR=/Users/path/to/qt/5.13.0/clang_64 npm install
and
QT_INSTALL_DIR=/Users/path/to/qt/5.13.0/clang_64 npm start

[2019-10-16 06:17] master-atul commented on #35
Yes @khanobd

but did I want to know what path you specified in QT_INSTALL_DIR

[2019-10-16 06:19] master-atul commented on #41
Yes the latest version requires cmake

[2019-10-16 06:29] khanobd commented on #35
/home/eps/nodegui-starter

[2019-10-16 06:34] master-atul commented on #35
QT_INSTALL_DIR should bevthe path to ur qt installation folder not the one u specified above

[2019-10-16 06:39] khanobd commented on #35
there run the mentioned command
and path shows is
/home/eps/nodegui-starter/node_modules/@nodegui/qode/dist/1.0.5/include/QtCore/5.13.0

[2019-10-16 06:43] khanobd commented on #35
at this path /home/eps/nodegui-starter
run command QT_INSTALL_DIR=/Users/path/to/qt/5.13.0/clang_64 npm install
and now path shows is
/home/eps/nodegui-starter/node_modules/@nodegui/qode/dist/1.0.5/include/QtCore/5.13.0

is it somewhere have done a miss ?

[2019-10-16 07:40] master-atul commented on #35
ok @khanobd could you paste the actual location where you have installed Qt on your system?

[2019-10-16 07:58] khanobd commented on #35
eps@ubuntu:~/nodegui-starter$ pwd
/home/eps/nodegui-starter
eps@ubuntu:~/nodegui-starter$

[2019-10-16 08:02] khanobd commented on #35
eps@ubuntu:/opt$ whereis qt5
qt5: /usr/share/qt5
eps@ubuntu:/opt$

[2019-10-16 08:36] yuu2lee4 commented on #41
![image](https://user-images.githubusercontent.com/8046366/66902320-09cdee80-f033-11e9-8a3d-c6c929ffb0f4.png)

[2019-10-16 08:41] master-atul commented on #41
no. You are using node to run the dist
You should be using qode instead.

Inshort; Just run npm run start

[2019-10-16 08:42] master-atul commented on #35
yes so you should be using  QT_INSTALL_DIR=/usr/share/qt5/5.13.0/clang_64 npm install

Please do check if those folders exist for you in the location
Check if this path exists (/usr/share/qt5/5.13.0/clang_64 ) or modify accordingly

[2019-10-16 08:45] #41 closed

[2019-10-16 08:45] khanobd commented on #35
Yes its not there
eps@ubuntu:/usr/share/qt5$ cd 5.13.0
-bash: cd: 5.13.0: No such file or directory
eps@ubuntu:/usr/share/qt5$ ls -a
.  ..  doc  phrasebooks  translations
eps@ubuntu:/usr/share/qt5$

[2019-10-16 08:53] yuu2lee4 commented on #41
So the app is small,but qode is very large,it will be great if qode can be installed as a independent system component

[2019-10-16 09:46] khanobd commented on #35
eps@ubuntu:~/nodegui-starter$rm -rf node_modules
eps@ubuntu:~/nodegui-starter$QT_INSTALL_DIR=/usr/share/qt5/5.13.0/clang_64 npm install
eps@ubuntu:~/nodegui-starter$QT_INSTALL_DIR=/usr/share/qt5/5.13.0/clang_64 npm start
eps@ubuntu:~/nodegui-starter$ pwd
/home/eps/nodegui-starter

Is is what did right ?
no success :(
same error
qt.qpa.xcb: could not connect to display
qt.qpa.plugin: Could not load

[2019-10-19 10:36] khanobd commented on #35
Plugin folder was empty and yes some path issue ... purge QT
Install again with

sudo apt-get -y update
sudo apt-get -y install build-essential libgl1-mesa-dev libassimp-dev libfontconfig1 libdbus-1-3 wget
sudo wget http://download.qt.io/official_releases/qt/5.9/5.9.1/qt-opensource-linux-x64-5.9.1.run
sudo chmod +x qt-opensource-linux-x64-5.9.1.run
./qt-opensource-linux-x64-5.9.1.run

But here  wh

[2019-11-03 10:39] #43 closed

[2019-11-03 14:28] master-atul commented on #5
Fixed in https://github.com/nodegui/react-nodegui/pull/52

[2019-11-03 14:34] #45 closed

[2019-11-03 16:32] master-atul commented on #5
Try the latest react-nodegui-starter for Hot-Reloading :)

[2019-11-03 16:32] #5 closed

[2019-11-10 14:28] master-atul commented on #42
Hey @herlarb  and @mjarmoc
React NodeGui now supports react-router :)
You can check out the example repo here on how to use it: https://github.com/nodegui/examples/tree/master/react-nodegui/react-router-example

[2019-11-10 14:28] #42 closed

[2019-11-11 03:17] slidinghotdog opened #54 "How to remove a Window component?"
Hi, im trying to use a second window to make a file/folder picker (i didn't find anything, but is there a simpler way to do it? maybe some widget, or something from the os?), but i can't figure out if theres a way to close it from the javascript side (should close according to some user input), after watching this video https://youtu.be/8jH5gaEEDv4?t=1376 , i tried this:

[code]

but the second wi

[2019-11-11 21:56] master-atul commented on #54
Oh that looks like a bug.

But for the time being could you use the visibility prop instead to show and hide the window ?

[2019-11-11 23:43] slidinghotdog commented on #54
Didn't think of that, it works fine now, thanks!

[2019-11-11 23:48] #54 closed

[2019-11-11 23:48] slidinghotdog commented on #46
@master-atul i could only get it to work setting height in pixels for the `View` inside like in the example, how do i do it if the `View` size is variable?

[2019-11-13 14:34] talentlessguy opened #60 "Cannot resize icon"
**Describe the bug**
Icon size is not being changed using `pixmap`

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/talentlessguy/QuarkPlayer`
2. Run `yarn && yarn dev` in one window, `yarn start` in another window
3. See icon size is not being changed

**Expected behavior**
I expected for icon to increase its size by changing width and height

**Screenshots**

!

[2019-11-13 15:02] master-atul commented on #60
Could you try `pixmap.scaled(width, height);` ?

https://docs.nodegui.org/docs/api/QPixmap#pixmapscaledwidth-height-aspectratiomode

[2019-11-13 16:49] talentlessguy commented on #60
@master-atul

[code]

[code]

[2019-11-13 17:10] master-atul commented on #60
Alright, seems like a missing functionality. Will add it in the next release.  @talentlessguy

[2019-11-13 17:15] talentlessguy commented on #60
awesome! looking forward to this feature

[2019-11-17 12:41] talentlessguy commented on #37
You should import images like this:

[code]

[2019-11-18 10:19] ivanjeremic opened #61 "Error on npm start calculator example"
I cloned the examples followed everything I need (CMake & so on..)

I expected the app after successful install to start the Calculator but I got this error

[code]

**Additional context**
Add any other context about the problem here.

[2019-11-19 10:52] talentlessguy opened #66 "How to set image width and height?"
I try to set custom width and height but it seems like these props are ignored. Am I doing it wrong?

[code]

Here's the code:

[code]

[2019-11-19 11:57] dimitarnestorov commented on #66
flex: 2 also is missing from your logs
Try this:
[code]
Differences from your code:
- removed the quotes from width and height
- set an id on the View component

[2019-11-19 20:23] master-atul commented on #66
Hey @talentlessguy  The logs mention that
`Could not parse stylesheet of object NWidget(0x31435c0)`
This means that the stylesheet you are passing to the widget has invalid syntax.

You are mixing the idea of inline style and the stylesheet.

Inline styles are passed using the style prop of the widget.
Stylesheet is passed using the stylesheet prop of the widget.

You can refer to the docs here to

[2019-11-22 21:28] #66 closed

[2019-11-24 23:19] master-atul commented on #46
This is now fixed in the latest version of react-nodegui.

The scrollArea now can render dynamically sized content. Checkout the latest release :) @slidinghotdog

[2019-11-24 23:19] #46 closed

[2019-11-25 04:27] neosarchizo opened #70 "Add dropdown-list component like select tag"
**Is your feature request related to a problem? Please describe.**
Please add a dropdown-list component like select tag.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-11-25 09:53] master-atul commented on #70
I think https://doc.qt.io/qt-5/qcombobox.html is what you are looking for.
If you can help out in porting it in nodegui first that would be awesome!
I can help you out. Otherwise, let me know, I ll see if I can squeeze it in the next release. @neosarchizo

[2019-11-26 06:15] neosarchizo commented on #70
I folked [nodegui](https://github.com/nodegui/nodegui), and checked codes of components. But wow.. there are so many things to do for adding new component.

- Make wrapper c codes for QComboBox
- Make JS library for QComboBox
- Make React library for QComboBox

I really wanna do that but I don't have enough time to do that. I'm really sorry.
But I really like your project, so I can wait for next r

[2019-11-26 15:39] leopku opened #74 "[help wanted]Is there any example for how to use QSystemTrayIcon with react-nodegui?"
**Is your feature request related to a problem? Please describe.**
Big thanks for any help for using QSystemTrayIcon with react-nodegui.

**Describe the solution you'd like**
Using QSystemTrayIcon with react-nodegui.

[2019-11-26 16:15] master-atul commented on #74
Since I couldnt find a nice declarative api for  systray its not yet exported out as react-nodegui component. But you could use nodegui version of systray as it is.
Example can be found here.
https://github.com/nodegui/examples/tree/master/nodegui/systray

[2019-11-26 23:49] talentlessguy commented on #60
@master-atul

while this functionality is being implemented in `react-nodegui`, is it possible to achieve it with plain `nodegui` with combination of `react-nodegui`?

[2019-11-26 23:54] talentlessguy commented on #61
Install `@types/node` and follow [this stackoverflow answer](https://stackoverflow.com/a/45446470)

[2019-11-27 00:30] leopku commented on #74
@master-atul Thanks.

I'll wait until react version of systray.

[2019-11-27 00:30] #74 closed

[2019-11-27 12:29] master-atul commented on #74
@leopku  You could use the nodegui version of systray at the moment and maybe migrate it to react nodegui one when its added 👍

[2019-11-27 12:33] master-atul commented on #60
Actually yes.
You could add a ref to the react-nodegui component

like so:
[code]
For the timebeing.

[2019-11-27 12:42] KirillSaltykov opened #76 "Error with CMake on macOS (Catalina)"
**Describe the bug**
When following steps on Getting started block, got an error with CMake.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone project from GitHub
2. Go to project folder
3. Run `npm install`
4. See error

**Expected behavior**
Dependencies installed.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: `macOS`
 - NodeGUI version: `0.6.7`
 -

[2019-11-28 08:25] master-atul commented on #76
Hi @KirillSaltykov
The getting started page here: https://react.nodegui.org/docs/guides/getting-started/
mentions cmake as a requirement. Are we missing it somewhere ?

[2019-11-28 10:12] KirillSaltykov commented on #76
Hi @master-atul
Yes, here: https://react.nodegui.org/#quick-start nothing about CMake 🙂
And when I tried to follow steps on this page, I got an error that CMake not found.

[2019-11-28 10:22] master-atul commented on #76
Ohh! okay. Thanks for pointing out!

[2019-11-28 14:07] master-atul commented on #60
iconSize prop is now available in 0.2.7 of react-nodegui for button, checkbox and radiobuttons

[2019-11-28 14:07] #60 closed

[2019-11-28 15:02] talentlessguy commented on #60
How can I use it? Please give an example

[2019-11-28 15:10] master-atul commented on #60
Something like this :
[code]

[2019-11-30 03:15] intrnl opened #80 "App suddenly closing itself"
**Describe the bug**
App suddenly closes by itself due to being garbage collected.

Temporary workaround is to use the onInit function to put the reconciler as a global variable, like so.
[code]

I know that this is in [FAQ](https://docs.nodegui.org/docs/faq/#my-apps-windowwidgetstray-disappeared-after-a-few-minutes), but it's not clear how you would actually do this in React NodeGUI.

Since the c

[2019-11-30 09:43] master-atul commented on #37
https://github.com/nodegui/react-nodegui/pull/81 This pr resolve this issue

[2019-11-30 09:44] master-atul commented on #37
Will be available in next release

[2019-11-30 09:44] #37 closed

[2019-11-30 09:52] master-atul commented on #80
Hi @intrnl
I tried the steps you suggested (`even manually ran global.gc()`) for about half an hour. And the app didnt crash. Is there anything more that you are doing in your app?

Also. the steps suggested to solve this might not have any effect.
[code]
This is because reconciler is aleady in the module.exports of nodejs which means it wont be garbage collected at all.

Do you have an app source

[2019-11-30 09:54] master-atul commented on #80
Also, it would be amazing if you can check this with latest nodegui and react nodegui versions aswell

[2019-11-30 10:12] intrnl commented on #80
Tested on latest NodeGUI and React NodeGUI, it still happens.

I've made an [example repo](https://github.com/intrnl/nodegui-test) with the global variable commented.

[code]

[2019-11-30 19:13] slidinghotdog commented on #80
tried the repo from @intrnl and got the same results, app closes after ~8 seconds, only when i run `npm run build` and `npm start` (also with packaged appimage), but no problems with `npm run dev` and `npm start`

[code]
trimmed the app a little bit more (removed hot) and the problem continued, but the proposed solution works
[code]

[2019-11-30 19:20] master-atul commented on #80
Yep, I can confirm I can reproduce this issue.
Seems like webpack bundling is causing some issues here.  Need to dig a bit more deep on why this happens.

Also can you try with
[code]

[2019-11-30 20:06] slidinghotdog commented on #80
no changes with `View`, but these 2 examples didn't close:
[code]

[code]
it looks like if theres any listeners it won't get gc..

[2019-11-30 20:31] master-atul commented on #80
That explains why default demo example doesnt close. Thanks for the inputs! @slidinghotdog

[2019-11-30 21:05] master-atul commented on #80
Okay even adding a simple
```setInterval(() => {}, 100000);``` at the end of any file.
Makes the process be alive!

Another test is
[code]
This make allows the process to stay alive for 14 secs. and after that whenever I run `global.gc()`
via the debugger the app closes.

So my theory is that nodejs process thinks that there are no more instructions for it to execute and then it just closes of.
So

[2019-11-30 21:24] slidinghotdog commented on #80
@master-atul is there any downside if u add @intrnl solution on default config for the renderer?

[2019-11-30 21:36] master-atul commented on #80
No I dont think so actually. Let me run few more checks and see which solution to go with

[2019-11-30 21:53] slidinghotdog commented on #80
don't know if its a good idea, but if theres something useful to run u could also attach some default listener on mainwindow (when created or closed), or run entire app on listener after main window is created

[2019-12-01 00:19] #80 closed

[2019-12-01 00:28] master-atul commented on #37
Released in https://github.com/nodegui/react-nodegui/releases/tag/v0.3.1

[2019-12-01 00:28] master-atul commented on #80
Released in https://github.com/nodegui/react-nodegui/releases/tag/v0.3.1

[2019-12-07 09:33] einarpersson opened #84 "Question: How add fonts?"
If I want to add a google font to my project, eg. `Roboto`, how would I go about it? The style sheets supports the `font-family` property but I guess I have to add the fonts to the project somehow.

Would appreciate a guiding sentence or two!

[2019-12-10 07:55] neosarchizo opened #87 "How to use useEventHandler"
**Is your feature request related to a problem? Please describe.**
I saw how to use Button in [this example](https://github.com/nodegui/react-nodegui-starter/blob/be17c2bf835bdfca4698fc8a04385f1ab5533576/src/components/steptwo.tsx#L6-L10). But I wanna use Button by `useEventHandler`. But I don't know [what deps means](https://github.com/nodegui/react-nodegui/blob/73805844d33487cbb96a8033071102a980

[2019-12-10 10:09] master-atul commented on #87
oh its the same with how you use useffect hook. in reality its actually second param of usememo hook. so it should be an array containing all dependencies

[2019-12-11 11:57] neosarchizo commented on #87
I used it like following. It works well!
[code]

[2019-12-11 12:16] master-atul commented on #87
Yep  you could change it to
[code]
aswell

Or if u want, u can also skip the use of useEventHandler and pass in the handler object directly (although this will cause minor perf issues)

[2019-12-11 12:16] #87 closed

[2019-12-12 02:22] neosarchizo opened #88 "Merge multiple stylesheets"
**Is your feature request related to a problem? Please describe.**
As you know, React can merge multiple stylesheets like following.

[code]

But I don't know how to merge multiple stylesheets in react-nodegui.
Because I wanna make some custom components that have own stylesheet can add additional stylesheet, so I need this function.

**Describe the solution you'd like**
Please add new prop for th

[2019-12-13 06:41] sharing-sense opened #89 "please add QComboBox"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-13 06:49] neosarchizo commented on #88
I solved this myself.

[code]

This works well. And if there are duplicated props then last one will overwrite.
But I'm still looking for how to lint for nodegui style. Hahhh.

[2019-12-13 07:02] master-atul commented on #88
Thats a neat solution @neosarchizo

linting and autocomplete would require a custom babel plugin to be built. (Like in the case of styled components). I do have this in my mind but its not at the very top of the priority list

[2019-12-13 08:09] #88 closed

[2019-12-17 18:33] #89 closed

[2019-12-17 18:33] master-atul commented on #70
closed by #93

[2019-12-17 18:33] #70 closed

[2019-12-18 10:34] kkcy opened #94 "How to call api on button clicked?"
**Is your feature request related to a problem? Please describe.**
Browsed through both react-nodegui and nodegui, but couldn't find any example.
Tried using axios/http on button click and keyboard listeners but the app crashed with

`FATAL ERROR: v8::HandleScope::CreateHandle() Cannot create a handle without a HandleScope`

It worked fine in componentDidMount though.

**Describe the solution you'

[2019-12-18 10:39] kkcy commented on #94
The crash might be related to async/await.
No crashes if the api was called with .then()

[2019-12-18 12:00] master-atul commented on #94
Could you create a sample repo so that I can take a look ? @kkcy

[2019-12-20 03:17] Harhao opened #95 "How do I request remote resources in React-nodegui"
When I use the `react-nodegui` to write a desktop application, how do I request remote resources in React-nodegui? like the lifeCycleMethod in react syntax？？

[2019-12-23 08:24] kkcy commented on #94
hey @master-atul, thanks but installing polyfill and adding `"@babel/plugin-transform-async-to-generator"` seems to fix the problem

[2019-12-23 08:24] #94 closed

[2019-12-24 21:45] danedavid commented on #31
I reckon this should first be added as a class in `nodegui`, right?
I'd like to work on this, if nobody is already working on it.

[2019-12-25 03:19] master-atul commented on #95
Hi @Harhao by requesting remote resources do you mean fetching data via an API? Then you would do it just like how you would in a react app. U can use the react's lifecycle methods or hooks to call an api usig either axios or node fetch.

[2019-12-25 03:23] master-atul commented on #31
Hi @danedavid
To help you out a bit. Qt doesnt have separate native code for building svg.
So few ways to do this:
1. Use the QPainter (already available in Nodegui) and create a react api using that.
2. Create a react api to generate svg string ehihy would then be rendered as an svg image.

If you have more ideas feel free to discuss them.

[2019-12-25 08:30] danedavid commented on #31
@master-atul Thank you for your quick reply!
I was checking Qt docs yesterday ( first ever time ), and saw the [`QSvgWidget` class](https://doc.qt.io/qt-5/qsvgwidget.html) which can load an SVG in serialized XML format as a QByteArray and can render the SVG. So at first look I was under the impression that was the way to go. Or am I completely off the tracks here?

[2019-12-25 10:39] master-atul commented on #31
Hello @danedavid First of all Christmasintae ashamshakal 😄.

As per the issue, we need Svg react components which we can use like this:
[code]
 <svg width={width} height={height}>
      {data.map((d: any, i: any) => {
        const barHeight = yMax - yPoint(d);
        return (
          <Group key={`bar-${i}`}>
            <Bar x={xPoint(d)} y={yMax - barHeight} height={barHeight} width={xScale.b

[2019-12-25 10:42] #95 closed

[2019-12-25 12:13] danedavid commented on #31
@master-atul, Merry Christmas to you too! 😁
So basically, we're not going to support inline SVG in react code, but we're going to provide SVG-like components that'll allow the user to draw.
Are we going to start by porting basic elements like `<path>`, `<circle>`, `<rect>` ? Or should it be a different API?

[2019-12-25 12:15] Ty3uK commented on #31
@danedavid yep, you're right. In my plugin I want to implement those elements in next step :)
Also i've tried to use `react-dom/server` package to simply render components to string, but this approach not worked.

[2019-12-25 12:19] danedavid commented on #31
@Ty3uK Thanks for the input! And great work on the plugin! For someone to right away inject SVG into `node-gui` environment, your plugin is the way to go!

[2019-12-25 12:20] Ty3uK commented on #31
@danedavid thank you :) At this moment, plugin is only MVP, but I want to develop it further. If you want to contribute - you're welcome, let's do this together :)

[2019-12-29 06:54] danedavid commented on #31
@master-atul
Some questions and thoughts on API design:

1. What SVG components are we going to support? At least for the first cut, I was planning to include `<SVG/>, <Rect/>, <Circle/>, <Ellipse>, <Line/>, <Polygon/>`, along with their basic attributes.
2. All components except `SVG` are valid only as children of `SVG`.
3. The `SVG` will initialize an instance of `QWidget` ( or is there any othe

[2019-12-29 09:32] master-atul commented on #31
Yep, This seems like a good solution. Using Context on Svg component would ensure that Rect, Circle Ellipse and Line can only exist inside it.

[2019-12-29 09:33] master-atul commented on #31
Let me know if you face any issue regarding QPainter or wrapping any component in React. I can help out!

[2019-12-30 04:42] leovo2708 opened #103 "How to handle auto scroll on control QPlainTextEdit"
I append text to the control QPlainTextEdit after interval, please help me how to scroll to the bottom,

I can't find any APIs: [https://docs.nodegui.org/docs/api/generated/classes/qplaintextedit](https://docs.nodegui.org/docs/api/generated/classes/qplaintextedit)

Thanks

[2019-12-30 05:48] master-atul commented on #103
Hi @leovo2708 I couldnt understand what you meant here. Could you post the code snippet ?

Also, it would be awesome if you can open the issue as per the issue template.

[2019-12-30 06:17] leovo2708 commented on #103
@master-atul
That means I want to control scrollbar by programming after setting text for QPlainTextEdit. I want after appending text to this control and scrollbar appears, I want to scroll to bottom by programming

[2020-01-01 13:13] mrxdst opened #108 "Nested window support (Modals or Dialogs)"
**Describe the bug**
Opening and closing new windows doesn't work properly when nested inside another window

**To Reproduce**
Run the following example code
[code]

**Expected behavior**
That windows can be open and closed no matter where they are placed in the react tree.

**Desktop (please complete the following information):**
 - OS: Linux
 - NodeGUI version: 0.12.1
 - React NodeGUI version: 0

[2020-01-06 07:10] manashathparia opened #109 "How to get value from ComboBox"
how to get the selected value from ComboBox? also, is there any event listeners for change?

[2020-01-06 07:59] master-atul commented on #109
https://docs.nodegui.org/docs/api/generated/interfaces/qcomboboxsignals

Can you see if one of these signals would work for you?

[2020-01-06 08:08] hrishikesh235 commented on #109
Already got it thanks :).

[2020-01-06 08:09] manashathparia commented on #109
Already got it thanks :)

[2020-01-06 08:09] #109 closed

[2020-01-08 23:03] gluaxspeed opened #112 "setProperties on componenets"
When creating a component it would be a nice feature to be able to set any other properties that we might want.
For example,
[code]
or any of the other widgetAttributes.

That way we can always pass all the attributes we want to set at once, and you don't have to make a property on the component for every possible attribute.

Edit: Might actually be better to name it setAttributes.

[2020-01-09 04:47] master-atul commented on #108
Hi @mrxdst

A QMainWindow (Window) cannot be a child of another QMainWindow
Thats why you can only have multiple top level windows and not nested windows.

What you are looking for is support for QDialog or modals. That has not yet been exported from NodeGui to React NodeGui.

If you want the QDialog behaviour immediately, maybe you can help export it out in React NodeGui ?

Otherwise I can do it

[2020-01-09 04:52] master-atul commented on #112
Hi @gluaxspeed
This functionality already exists.

Example code:
[code]

[2020-01-09 05:02] master-atul commented on #112
I have updated the docs to reflect this. Functionality exists already.

[2020-01-09 05:36] #112 closed

[2020-01-09 05:36] gluaxspeed commented on #112
Oh great! Sorry I didn't see that functionality by looking at the source. I must have overlooked it. Cheers for the docs updates though thanks!

[2020-01-09 10:48] mrxdst commented on #108
@master-atul

Ok, I understand. I do not need this immediately.

[2020-01-09 12:35] #61 closed

[2020-01-13 01:32] pendo324 opened #116 "Question: Can you style ScrollArea's QScrollBar?"
I tried to use a style sheet on a ScrollArea like so:

[code]

but it doesn't actually change the scroll bar, so I'm just wondering if I'm doing something wrong, or if there is something that needs to be implemented for this to work.

[2020-01-13 09:50] master-atul commented on #116
Hi @pendo324
I ran your example and got this:

[code]

The output looks like this:
<img width="334" alt="Screenshot 2020-01-13 at 15 18 25" src="https://user-images.githubusercontent.com/4029423/72246214-40a6a700-3618-11ea-8775-c95d6a2c741d.png">

Is this what you were looking for ?

[2020-01-14 04:15] pendo324 commented on #116
@master-atul Yes! But for some reason, when trying it with the react wrapper, like so:

[code]

it doesn't seem to work. This is the output I get:

![image](https://user-images.githubusercontent.com/424987/72313796-5f6d6380-3641-11ea-96c6-1aef3cb86962.png)

[2020-01-17 12:16] siowyisheng commented on #76
On Windows I am also unable to succeed in the "Getting Started". I installed CMake but this fails with many errors.

![cmake error](https://user-images.githubusercontent.com/25425028/72611904-3b25c580-3966-11ea-893e-373805c94970.png)

[code]

[2020-01-17 12:31] master-atul commented on #76
Hi @KirillSaltykov  Which version of Visual studio do you have installed ?

[2020-01-17 13:05] siowyisheng commented on #76
Vs 2017

[2020-01-17 22:26] siowyisheng commented on #76
oops sorry I'm still on vs 2015. I'll upgrade and report back. My bad.

[2020-01-19 17:11] master-atul commented on #116
Hey @pendo324  sorry for late reply. I was on vacation.

I think you are mixing stylesheet and inline styles together.

the style prop doesnt allow
[code]
you will need to use stylesheet prop for this.

Working example is as follows:

[code]

<img width="628" alt="image" src="https://user-images.githubusercontent.com/4029423/72685111-23297f80-3ae7-11ea-8ba9-efed0cf547a2.png">

[2020-01-19 17:12] master-atul commented on #116
I will close this issue.

[2020-01-19 17:12] #116 closed

[2020-01-19 19:34] pendo324 commented on #116
Derp! Thanks for the help.

[2020-01-22 15:56] shubhamzanwar commented on #26
Probably a good idea to have a separate scaffolding cli tool for react-nodegui.
I can take this up 🤘🏽

[2020-01-22 15:59] master-atul commented on #26
Awesome! sounds good. You could take a look at this link https://dev.to/pallymore/make-your-own-create-react-app-templates-feo

[2020-01-22 16:02] master-atul commented on #26
or this https://auth0.com/blog/how-to-configure-create-react-app/

[2020-01-30 00:18] gluaxspeed opened #129 "Width Percentage"
**Describe the bug**
Having a View with a flex row layout and two children Views with different width: 'x%' fields doesn't render properly.

**To Reproduce**
[code]

**Expected behavior**
The Views should use the specified width percentages.

**Screenshots**
![image](https://user-images.githubusercontent.com/16431709/73409032-0d2c7380-42cc-11ea-8b8b-3d03262e5ba2.png)

**Desktop (please complete th

[2020-02-03 11:40] Grewer opened #132 "How to get value for PlainTextEdit?"
[code]
I can get his value by textChanged

but:

[code]

[2020-02-03 11:42] Grewer commented on #132
"@nodegui/nodegui": "^0.13.1",
"@nodegui/react-nodegui": "^0.4.0",

[2020-02-03 12:22] master-atul commented on #132
Inside the handler
[code]

[2020-02-03 12:24] master-atul commented on #132
Oh wait my bad. This is for react nodegui.
In that case you ll need to use a ref to the plaintextedit component.  The ref.current will contain the QPlainTextEdit instance on which you can call `toPlainText()`

[2020-02-03 12:24] master-atul commented on #132
I will work on improving this API soon.

[2020-02-03 16:18] shubhamzanwar commented on #26
@nateshmbhat you could try this: https://github.com/shubhamzanwar/cra-template-react-nodegui
@master-atul , should we add this to the org or is it fine outside only?

[2020-02-03 17:07] master-atul commented on #26
Lets add it to the org and update the readme, docs for the react nodegui project aswell 🤘🏽

This is amazing!

[2020-02-04 08:19] leopku opened #133 "Can I put a button in top of an image?"
Or something can use an image as background?
If true, how can do it?

[2020-02-04 12:47] Grewer opened #134 "How to render HTML STYLE"
[code]
`text: <li>hello</li>`

[code]
None of the above code works

If can, that's best

[2020-02-07 05:01] Grewer opened #135 "How to use Image correctly"
# If reference the image in react
[code]

console:
[code]

**Okay it doesn't work**

# If I use resolve to reference the image

[code]

**When I was debugging it was successful**

But when I pack:
[code]

the image has not been webpacked and is not packed into dist

Image doesn't show up after I open the app

[2020-02-07 05:14] Grewer commented on #135
If I combine these two cases, it is ok, but I cannot know the address after packaging.
[code]

[2020-02-07 06:18] master-atul commented on #135
Hi @Grewer

Looks like a webpack issue. Can you reverse the value of __filename and ___dirname in webpack config?

[2020-02-07 07:18] Grewer commented on #135
my project clone from [https://github.com/nodegui/react-nodegui-starter](https://github.com/nodegui/react-nodegui-starter)

webpack.config has not changed

@master-atul

[2020-02-07 08:25] Grewer commented on #135
[code]
after packing:

print:
[code]

[2020-02-07 08:47] master-atul commented on #135
Have you changed to
[code]
?

[2020-02-07 08:54] Grewer commented on #135
ohh
it succeeded

Although successful, it is still so laborious to use

[2020-02-07 08:55] Grewer commented on #135
Thank you

[2020-02-07 09:29] master-atul commented on #135
Could you help me in understanding why you feel so ?
I want to make it as easy as possible. @Grewer

[2020-02-07 10:01] Grewer commented on #135
Compare the use of images in React
[code]
Now to quote the picture in the project, this sentence is needed:

[code]

can extract a method

there is also the need to change here when you want to change the `/dist` path

Although I mean laborious, it is also compared with React, which is actually okay.

[2020-02-11 22:25] matrunchyk opened #140 "Slider and ColorDialog request"
I noticed that [QSlider](https://doc.qt.io/qt-5/qslider.html) and [QColorDialog](https://doc.qt.io/qt-5/qcolordialog.html#details) are not available.

Adding those bindings would make NodeGUI even more usable!

[2020-02-14 07:37] Solant commented on #135
@Grewer I did some changes to file-loader in react starter, so now you should be able to import images just like in react

https://github.com/nodegui/react-nodegui-starter/blob/master/webpack.config.js#L34

for already created project you can do the same change with `publicPath: 'dist'` and no more path.resolves

[2020-02-14 07:47] Solant commented on #133
you can use icon property on button component
is it enough to do the trick?

[2020-02-14 09:28] master-atul commented on #135
@all-contributors add @Solant for code

Thank for fixing this issue
Closing this

[2020-02-14 09:28] #135 closed

[2020-02-16 16:22] Grewer commented on #135
Unfortunately this modification cannot be referenced after build

Because the reference is a relative reference, and the picture can only be referenced by absolute reference after packaging, the path in front of the referenced picture must be the path of the application plus the path of the picture resource.

@master-atul  @Solant

[2020-02-16 16:31] Solant commented on #135
@Grewer just checked on packed windows version, Image with relative path to `qode` executable should work fine:
![image](https://user-images.githubusercontent.com/5971578/74608494-92988c00-50f2-11ea-903d-677a4fcf4356.png)

What system do you use?

[2020-02-16 17:32] Grewer commented on #135
My system is macOS

[2020-02-16 17:32] Grewer commented on #135
@Solant

[2020-02-16 17:46] Grewer commented on #135
Is your usage like this:

[code]

and  build:

[code]

[2020-02-16 17:58] Solant commented on #135
@Grewer yes, but asset path is `assets` instead of static
btw, are you sure that you are referencing the right file?

maybe you are trying to use a different file instead?

Checked this also on linux, works perfectly fine with packed version: https://github.com/Solant/polygon-launcher you can try building this project and checking it out

[2020-02-16 18:00] Grewer commented on #135
I will try it tomorrow

[2020-02-17 04:29] Grewer commented on #135
whether it is `static` or `assets`, the files will be in `dist` after build

I downloaded your project, after packaging, the same picture cannot be displayed
<img width="419" alt="截屏2020-02-17下午12 29 06" src="https://user-images.githubusercontent.com/21995246/74623833-1bf69f80-5181-11ea-9c87-615c20df8518.png">

[2020-02-17 04:43] Grewer commented on #135
I created a component that wraps an Image
[code]
It runs normally in dev and build. If you can add these logics and wrap them in` Image`, it will work.
@Solant  @master-atul

[2020-02-17 14:22] Solant commented on #135
@Grewer hmm, looks like macOS is loading stuff differently from linux and windows

I doubt that it will do the trick properly, as it requires specific config of both loader and runtime

Also it looks like this is applied to all assets (images, icons, fonts and so on), so it can't be fixed properly with one single image wrapper, probably some macOS specific magic for loader is required there. I'll

[2020-02-17 15:11] master-atul commented on #135
Hi @Solant  and @Grewer
This is because the current working directory for macos is something different.
I am currently working on Qode v2.0 which might need a bit of changes in the packer as well.
So I ll fix it up in packer alongside it. ETA: this weekend for now. But lets see if I can fix it before that.
Thanks for looking into this @Solant

[2020-02-21 03:37] bradmartin opened #145 "Enhancement: Add nodemon devdep to starter template for dev reloading"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/nodegui/react-nodegui/issues/5 where this was featured but it's not in the starter template so I was searching for some time to make this happen or if it was supported.

**Describe the solution you'd like**
Add the devDep of `nodemon` and the `start:watch` script to the template with docs mentioning it

[2020-02-21 03:38] bradmartin commented on #145
Wrong repo 🤦‍♂

[2020-02-21 03:38] #145 closed

[2020-02-27 00:33] master-atul commented on #134
Hi @Grewer
Sorry for the late reply

but you seem to be mixing rich text parts with the widget parts.

In order to style the richtext you ll need to specify the styles inside it since its scoped.

So your example would look like this:

[code]

[2020-02-27 00:33] master-atul commented on #134
Closing this issue.

[2020-02-27 00:33] #134 closed

[2020-02-28 08:41] leopku commented on #133
Thanks for the reply.

Button doesn't fit my needs.
I wanna a big image as background of my app. The image should fit all of the window.

[2020-02-28 08:46] Solant commented on #133
hmm, in this case, you can try using css for top-level component

[code]

with some more props to handle background size, you can check reference for all supported props:
https://doc.qt.io/qt-5/stylesheet-reference.html

[2020-02-28 11:52] leopku commented on #133
It works.
Thanks a lot!

[2020-02-29 09:21] leopku commented on #133
`background-image` works in `nodegui` but take no effect in `react-nodegui`
I tested in react-nodegui-starter by:

### inline style like:

[code]

### style sheet like:

[code]

All above methods did not work.

[2020-02-29 09:57] master-atul commented on #133
Hi @leopku

[code]

This is the code I am using

and this is the output i get:

<img width="560" alt="Screenshot 2020-02-29 at 10 56 00" src="https://user-images.githubusercontent.com/4029423/75605348-40883b00-5ae2-11ea-9dcd-f60036b7eee9.png">

[2020-02-29 09:57] master-atul commented on #133
Can you post the link to a repo where I can see the issue ? @leopku

[2020-03-01 00:47] leopku commented on #133
Magic.
After fixing https://github.com/nodegui/react-nodegui-starter/issues/89, It works now.
Thank you @master-atul and @Solant .

[2020-03-01 00:57] leopku opened #150 "How to clear cache? Related to #133"
In #133 , I can not change background image.
And today after starting project, it take effect.
But after I changing background image to new one, background image still stayed in the old one.

Is there something like cache? How can I clear it and make new background image works?

[2020-03-01 00:59] leopku commented on #133
It not changed after change url(...) to a new background.
See #150, plz.

[2020-03-01 00:59] #133 closed

[2020-03-01 08:08] Solant commented on #150
make sure you run both `npm run dev` AND `npm run start` at the same time
as js bundle is generated by webpack with `npm run dev`, and `npm run start`  just launches qode with generated js bundle

[2020-03-01 13:54] disc7 opened #151 "qode quit unexpectedly - OSX High Sierra"
Hi

Am seeing the following qode quit unexpectedly error when running `npm start` on the latest checkout of `react-nodegui-starter` repo. Have tried fixing some of the errors without success.

Here's the error I'm seeing on my Mac OSX version 10.13.6 High Sierra.

http://disc7.com/files/react-nodegui_issue.png

Followed the helloworld install steps here - https://react.nodegui.org/docs/guides/gett

[2020-03-01 17:55] master-atul commented on #151
Hi @disc7

This should be fixed in nodegui version https://github.com/nodegui/nodegui/releases/tag/v0.13.4

Could you upgrade to v0.13.4 and let me know what you see ?

[2020-03-01 17:56] master-atul commented on #151
an alternative would be to build the core addon on your machine.
Which you can do so by

[code]

and then come back to your project repo
and doing:
[code]

[2020-03-02 00:44] leopku commented on #150
@Solant Got it.

Thanks.

[2020-03-02 00:44] #150 closed

[2020-03-02 18:57] master-atul commented on #135
Alright! I manage to fix this issue,
This will be fixed in the next packer release.

But if you would like to fix it in your current setup.

After  `npx nodegui-packer --init MyApp`

Change the contents of
`deploy/darwin/MyApp.app/Contents/MacOs/qode.json`  to
[code]

Add a new file at `deploy/darwin/MyApp.app/Contents/Resources/index.js` with the contents
[code]

Now do `npx nodegui-packer --pack

[2020-03-02 21:04] disc7 commented on #151
`npm run build:addon` This got it working.

Thanks, @master-atul

[2020-03-02 21:04] #151 closed

[2020-03-03 21:23] shepherd1530 opened #158 "Can't render Image"
I am trying to render an image but I can't quite figure out to do it properly. I tried to follow the examples from the repo but i still get an error.

[code]
[code]
And if i load the image react way like

[code]
i get
[code]

**Desktop (please complete the following information):**
 - OS: [e.g. Mac, Linux or Windows] Windows 10
 - NodeGUI version 0.13.1
 - React NodeGUI version 0.4.0

[2020-03-03 21:42] master-atul commented on #158
Hi @shepherd1530

You need to use
[code]
instead of require with the current webpack setup.

Webpack basically copies the image over to dist folder and sets imageUrl to the filepath of copied image.

Webpack doesnt do this when using require to load the image.

[2020-03-03 21:42] master-atul commented on #158
To check this you can console.log the imageurl and see the result.

[2020-03-03 21:49] shepherd1530 commented on #158
@master-atul that cleared the console error but now i get
 `QPixmap::scaled: Pixmap is a null pixmap` with a blank screen.

[2020-03-03 21:50] master-atul commented on #158
could you post the `console.log(imageUrl)` result ?

[2020-03-03 21:52] shepherd1530 commented on #158
**19f64edf18144b243d70e631dd1043be.jpg**

[2020-03-03 21:53] master-atul commented on #158
can you post your webpack.config file also please ?

[2020-03-03 21:54] shepherd1530 commented on #158
[code]

[2020-03-03 21:55] master-atul commented on #158
yep so can you modfiy
[code]

[2020-03-03 21:56] master-atul commented on #158
also you can try removing the polyfills for __dirname and __filename
[code]

[2020-03-03 22:11] shepherd1530 commented on #158
@master-atul am still gettng the same error even with the modifications and when I check the dist folder the renamed images are there.

[2020-03-03 23:17] master-atul commented on #158
Have you tried putting absoulute image paths instead?
Also after modifying webpack config (you will need to restart the webpack server aswell)

[2020-03-03 23:23] shepherd1530 commented on #158
Restarting the webpack dev server did the trick. Thanks a lot.

[2020-03-03 23:24] #158 closed

[2020-03-06 16:17] Grewer opened #159 "hot file remove"
This often happens during development
<img width="249" alt="截屏2020-03-07上午12 14 45" src="https://user-images.githubusercontent.com/21995246/76101012-a9067900-6008-11ea-9ab9-23e0a6d68b04.png">
So I hope to be able to delete these troublesome files
It only needs to be in the `src/development/hot-reload.ts` file. When hot is first enabled, clean up the dist file.

[2020-03-07 09:25] Solant commented on #159
you can try using a plugin like https://github.com/johnagan/clean-webpack-plugin , so dist folder will be cleaned on each `npm run dev`

[2020-03-07 09:32] Grewer commented on #159
Of course, I can solve it myself in dev, but I mean, it is better to use it out of the box instead of configuring it by myself.

[2020-03-07 12:10] Solant commented on #159
makes sense
anyway, it should be done in https://github.com/nodegui/react-nodegui-starter as react-nodegui doesn't have any clue about webpack's hot-reload

can you move or reopen this issue to starter repo? I'll take a look at this one there

[2020-03-07 12:22] master-atul commented on #159
I just added this to the starter :)

Closing this issue now. Thanks @Solant for responding and helping out!

[2020-03-07 12:22] #159 closed

[2020-03-07 13:01] master-atul commented on #35
This shouldnt happen in the latest version of react-nodegui.
Closing this issue

[2020-03-07 13:01] #35 closed

[2020-03-10 18:54] mako87 commented on #108
+1

[2020-03-11 18:10] mako87 opened #162 "Routing show wrong layout"
**Describe the bug**
Sometimes, when routing my view component show a wrong layout then I expect.
But, If I resize the window manually, layout return normal automatically.

[code]

**Normal Layout**

![image](https://user-images.githubusercontent.com/4609492/76448505-bafe6800-63ca-11ea-8c0e-90c85f822cc1.png)

**Wrong layout**

![image](https://user-images.githubusercontent.com/4609492/76448453-a32

[2020-03-18 12:32] fnky opened #166 "Types for Text component doesn't allow JavaScript expressions"
**Describe the bug**

When using JSX JavaScript expressions within a Text component, TypeScript will throw a type error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component
2. Render a text component that contains a string with JavaScript expressions:
[code]
3. See type error.

**Expected behavior**
The `Text` component should accept JavaScript expressions, allowing ch

[2020-03-18 15:51] #166 closed

[2020-03-28 17:16] cvl opened #177 "Readme says this project has documentation, but 90% of "documentation" is WIP"
Readme says this project has documentation, but 90% of "documentation" is WIP

[2020-03-28 17:18] cvl opened #178 "[question] How to get value from LineEdit?"
e.g. <LineEdit text={dtext}></LineEdit>

the variable dtext is not updated, ever.

[2020-03-28 17:46] cvl commented on #178
I think I found one way, is this correct?

var textValue: string

    const textChanged = async (val: string): Promise<void> => {
        textValue = val
    }

....
<LineEdit
                on={{ textChanged: textChanged }}
..

[2020-03-28 17:46] #178 closed

[2020-03-28 17:52] master-atul commented on #178
Yes, this is correct @cvl

[2020-03-28 17:56] master-atul commented on #177
Hey @cvl

Yes, Thanks for a reminder related to docs.

Open source is hard and it requires tremendous effort and time from a lot of people involved.
I do agree though with you regarding docs. And I have decided to prioritize docs now.
You should see an updated guide in the coming days.
Also would you like to help out here as you discover nodegui/react-nodegui?

I will close this issue since there

[2020-03-28 17:57] master-atul commented on #177
I will start with updating nodegui guides, followed by react nodegui ones. But do not expect this to happen overnight. And I would like to get as much help as possible.

[2020-03-28 17:57] #177 closed

[2020-03-29 11:15] cvl commented on #177
Sounds good, thanks for great work, Atul.

[2020-04-02 23:17] zb0t opened #182 "Window EventListeners"
Is there an available on Window close event?

[2020-04-03 05:45] Sparkenstein commented on #132
Not sure I understand correctly, I am having trouble getting value from both `LineEdit` and `PlainTextEdit`. I am using functional component not sure If I can create refs there. Is there any other way?

[2020-04-03 05:59] Sparkenstein commented on #132
I got till the point to get the text on changed from LineEdit Component. I used
[code]
Where phone and setPhone are `useState` hooks.
If I `console.log` on `textChanged` event, it shows the correct entered text. but I guess hooks are not updating the value. Tried to get the value on a button click as well, that doesn't work too. What am I missing?

I am really new to Qt. took Signals reference fro

[2020-04-03 07:26] master-atul commented on #182
Yes its part of QEvents
You can listen to `WidgetEventTypes.Close`

[2020-04-03 07:38] master-atul commented on #132
Hi  @Sparkenstein

I am not sure about your example. since its only a small snippet of your code.

But this example works as intended.
[code]
![lineditexample](https://user-images.githubusercontent.com/4029423/78335760-86776980-758e-11ea-9245-fc2ea03e7aec.gif)

[2020-04-03 15:51] #182 closed

[2020-04-03 22:49] Tijawk opened #183 "It is possible to integrate Fluid (QML modules)"
Is it possible to integrate external Qt components? I came across "Fluid" which offers Qt components with a modern design.

https://liri.io/docs/sdk/fluid/develop/index.html

I have no experience with Qt, so if someone can guide me step by step to integrate (if possible). Thanks

[2020-04-06 13:58] Sparkenstein commented on #132
Yep,the `state` variable works in this case, but the issue is when you try to get it from a button click event (possibly even on enter pressed). Pasting my exact code below. which prints the changing text, but `on click` it doesn't print the value:
[code]

I am not using typescript. Check in the gif below, similar to your example as soon as I change my input box, the value updates, but If I click

[2020-04-06 14:17] master-atul commented on #132
Yes,
this is because
[code]
You need to specify phone as a dependency just like how you will do with useCallback or useMemo or useEffect

[code]

[2020-04-06 14:20] master-atul commented on #132
And for the size reduction. Try adding an style of `width: '100%'` to the outside view

[2020-04-08 18:36] LeamDelaney opened #188 "[QUESTION] - Importing css stylesheets?"
Sorry if this has been asked before, but I couldn't find it in the nodegui docs, or on this repo's issues.

### What I want to do
I have cloned the react node gui starter application, and I am starting to put together the foundation of my application in there. I want to import a CSS file in my application, so that it may be used to style my application. I have seen examples of people adding CSS in

[2020-04-08 18:39] master-atul commented on #188
Hey @LeamDelaney

You cant use a css file directly since nodegui doesnt use a browser underneath.

What you can do though inorder to separate css styles is to create a separate styles.js file and add your styles there.

So your styles.js file would look like:

[code]

and then you can import these on your application code.

[2020-04-08 18:42] LeamDelaney commented on #188
Hey @master-atul  - thanks for the quick response - I'd like to ask another question related to this!

Since I already have a fairly large, well thought out series of CSS files, is there a way for me to use this approach to have the styles.js file bring in entire css files and make the different elements of it available? Rather than having to rewrite everything?

[2020-04-08 18:48] master-atul commented on #188
Hmm. First thing to note here is that NodeGui supports Qt's stylesheet syntax (which is very close to browser's css but with some changes). So I am not sure even if you import the said css files it would work as expected. Neverthless, if you really want to do it, it is technically possible to tell webpack to stringify all css files into one and maybe include that as a string which can then be pass

[2020-04-08 18:58] LeamDelaney commented on #188
Ah ok - So does this mean I can't use things like bootsrap with react nodegui?

I guess I was under the impression that this was a whole other type of tool. I wanted to use react to build out a desktop application - but I wanted to keep my logic and UI completely separate. Would electron be more suited to my needs?

[2020-04-08 19:04] master-atul commented on #188
Yes so you can use react to build out a desktop application with nodegui.
This is very similar to react native for mobile apps where you cant use things like bootstrap.
The primary difference here is the browser. Bootstrap is a web framework/library and relies on a browser environment. React NodeGui uses Qt underneath instead of a full fledged browser. This is what gives it the low memory and cpu

[2020-04-08 19:04] #188 closed

[2020-04-09 08:02] cvl opened #189 "Create a production-ready demo app"
Atm all demo apps are developer sandbox only (i.e. "works on my pc").

Suggestion to create a production level demo app (at least for MacOS): i.e. simple app, which can be signed, notarized (with complete how-to readme & necessary scripts), and accepted by gatekeeper.

[2020-04-09 08:27] master-atul commented on #189
Yep, this is definetly a critical issue.
I can try and get this done possibly during these Easter vacation days.  @cvl

[2020-04-09 08:30] cvl commented on #189
That would be amazing :)

[2020-04-09 08:48] cvl commented on #189
Also consider using a fork of https://github.com/mysteriumnetwork/mysterium-vpn-desktop as reference app for this.

[2020-04-10 18:43] talentlessguy opened #190 "undefined symbol: _ZN4qode9qode_argvE when bundling with Parcel and pnpm"
**Describe the bug**
When trying to run a compiled by Parcel plugin React NodeGUI app, it throws an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install pnpm
2. `mkdir test-app && cd test-app`
2. Install these dependencies using `pnpm i`:

[code]

**Expected behavior**
It should start a React NodeGUI application

**Desktop (please complete the following information):**
 - O

[2020-04-10 21:58] master-atul commented on #190
Yes, this is because you are using node to run the nodegui core addon.
The core addon requires that you use qode binary instead.

I am not  very familiar with parcel .
But I am guessing this is parcel tries to use node binary instead of qode.

[2020-04-10 21:59] master-atul commented on #183
Sorry, I dont think this can be used with NodeGui.

[2020-04-10 21:59] #183 closed

[2020-04-10 23:16] talentlessguy commented on #190
@master-atul I tried to set it up with official Parcel plugin

will try with Webpack

[2020-04-13 21:12] master-atul commented on #189
Hi @cvl
I managed to get a signed, notarized and gatekeeper passing build ready.
I built a small demo app here: https://github.com/master-atul/DadJokes
I pretty much tweaked your script to make it more maintainable.

There was a horrible typo in nodegui packer code that led me bang my head for 2 days.
The issue was that
`Contents/MacOs`  ---> is incorrect
`Contents/MacOS` ----> is correct
This mea

[2020-04-14 07:19] cvl commented on #189
Looks like it's working!

Thanks a lot for great work, Atul :)

[2020-04-15 10:11] #189 closed

[2020-04-15 11:26] cvl opened #193 "[question, MacOS] Is it possible to not quit app when user clicks X in the corner?"
I.e. instead of closing app, it should close the window (kinda default behavior of most macos apps).

[2020-04-15 14:35] cvl commented on #193
So far found that
const qApp = QApplication.instance()
qApp.setQuitOnLastWindowClosed(false)

will not quit the app, but when I click the icon, the window doesn't appear again.

[2020-04-16 06:23] abhigk opened #194 "Error: Cannot read property 'ok' of undefined in react-sound"
Hi
I am not able to use react-sound with react-nodegui. React-sound is working fine with creat-react-app.

My code:
![Screen Shot 2020-04-16 at 4 19 10 pm](https://user-images.githubusercontent.com/9884510/79421623-8e0f2780-7ffe-11ea-9561-df32ef542efc.png)

Error:
![Screen Shot 2020-04-16 at 4 19 01 pm](https://user-images.githubusercontent.com/9884510/79421657-9ff0ca80-7ffe-11ea-815c-b49da927ec6a

[2020-04-16 06:30] master-atul commented on #194
React sound is based on soundmanager2, whivh uses HTML5 audio api. This means react sound needs a browser to run.

NodeGui is a native platform and doesnt run inside a browser. Hence it doesnt support sny browser based apis.

You ll need to find a nodejs based sound library to achieve what you are looling for

[2020-04-16 07:09] abhigk commented on #194
How would I use a node library in react-nodegui?

[2020-04-16 08:27] master-atul commented on #194
react nodegui is just a regular nodejs application. You can think of react nodegui as a library to nodejs. So any other nodejs library can be used along with it.

[2020-04-16 11:29] abhigk commented on #194
Thank you for quick explanation 😊

[2020-04-16 11:29] #194 closed

[2020-04-18 09:31] abhigk opened #195 "How to stream mp3 audio from http to react-nodegui?"
Hi
I am trying to make an audio stream application which can stream audio from internet without downloading it. However, I am not able to find any audio streaming on the nodejs server. There is several audio libraries for nodejs like '_play-sound_' however, it only plays an audio file that is on my computer.
Please help me solve this problem. Cheers

[2020-04-18 09:39] master-atul commented on #195
Hi @abhigk
React NodeGui is a UI library for NodeJS. And hence, this issue is outside the scope of this project.

But a quick search on npm pointed me to this: https://github.com/audiojs
I think these questions are better suited for Stack overflow instead. Closing this issue since this is not actionable from the point of view of this project.

[2020-04-18 09:39] #195 closed

[2020-04-18 09:40] master-atul commented on #193
Yeah, I think this would need some work at the moment since Qt doesnt really natively support this.

[2020-04-25 19:41] s-kris opened #198 "Native modules support for OS X"
Does native modules work in OS X context here?  (ref: https://reactnative.dev/docs/native-modules-ios)

[2020-04-25 21:18] master-atul commented on #198
Hi @s-kris  I am not really sure what you mean here?

Do you mean to ask if react-nodegui works with ios ?

[2020-04-25 21:26] s-kris commented on #198
Sorry, I meant, can we use native code(OS X APIs) in react-nodegui ?
For example, in react-native we can use native modules concept to use ios-specific APIs in react-native app.

[2020-04-25 21:47] master-atul commented on #198
Hi, yes you can

You can do this by creating a nodegui plugin or even a regular nodejs addon.

An example of nodegui plugin with native code can be found here:  https://github.com/nodegui/nodegui-plugin-example

And an example of a regular nodejs addon used along with nodegui can be found here:   https://github.com/nodegui/os-utils

[2020-04-26 05:10] s-kris commented on #198
thank you @master-atul! My bad, I missed the native modules section the last time checked react-nodegui docs. Will keep an eye on this space: https://react.nodegui.org/docs/guides/custom-nodegui-native-plugin

[2020-05-06 11:00] Duxy1996 commented on #103
I'm having the same issue. I don't know how to hold the scroll bar in the bottom like an installer wizard.

[2020-05-07 02:18] icetbr opened #202 "Multiple windows support? 2 Renderers or React.Fragment?"
Hi, is this supported? I tried to duplicate the files in the example, it opened 2 times the same window.

[code]

This worked fine, I'm new to React, is this the best way?

[code]

[2020-05-07 05:31] nsebhastian opened #203 "Image from URL produce null pixmap"
Hello, I'm currently trying to render an image from URL with no success. I even tried the Image rendering from the docs:

[code]

But it just opened a blank window with a message in the console:

`QPixmap::scaled: Pixmap is a null pixmap`

I'm currently using Windows 10 and Node v12.16.3. I'm using TypeScript for compiling before running `qode`.

Here is my `package.json` file:
[code]

and my `tsc

[2020-05-07 07:16] master-atul commented on #202
Yes options 2 is the correct way to do it.

[2020-05-07 07:16] #202 closed

[2020-05-07 07:19] master-atul commented on #203
Hi @nsebhastian
Do you also get the same when you try to load from a local file ?

[2020-05-07 07:19] master-atul commented on #203
The example seems to work fine on a mac

[2020-05-07 07:21] master-atul commented on #203
<img width="514" alt="image" src="https://user-images.githubusercontent.com/4029423/81265918-2a4bad80-9044-11ea-93f4-1710c779362c.png">

[2020-05-07 07:22] master-atul commented on #203
I can take a look at it on windows and linux later today.

[2020-05-07 07:22] #198 closed

[2020-05-07 07:50] nsebhastian commented on #203
Hi @master-atul it turns out the dependencies are installing older versions of nodegui packages. I have downloaded the latest version and it works fine now. Thanks for your reply :)

[2020-05-07 07:50] #203 closed

[2020-05-07 16:23] nsebhastian opened #204 "Render text from variable produce a comma"
Rendering <Text> from a variable cause the renderer to print a `,` before the value.

Steps to reproduce:
The App code:

[code]

Result:
![2020-05-07 23_20_01-app jsx - react-nodegui-github - Visual Studio Code](https://user-images.githubusercontent.com/10413648/81319190-843a8a80-90b9-11ea-94f8-d78ee7aaeb31.png)

OS: Windows 10
package.json dependencies:
[code]

[2020-05-07 17:18] master-atul commented on #204
Hi @nsebhastian
A workaround for now could be:

[code]

I think the issue is we are converting an array of values ["Source", myText] directly internally.

[2020-05-14 23:58] chrissantamaria commented on #76
Agreed, the requirement should be noted on the quickstart page - just ran into this issue myself. I'm happy to make a pull request and add a brief requirement description if you'd like @master-atul

[2020-05-24 12:33] shubhamzanwar commented on #204
@nsebhastian Looks like you're using an older version of react-nodegui(0.5.0). This issue was fixed in one of the later versions. could you try upgrading to the latest version  (0.6.1) ?

That should solve it for you 🙂

[2020-05-24 17:30] agg23 opened #210 "Working towards component parity with React Native"
From a project management perspective, what is the plan for working towards component parity with React Native? Is the idea to just keep this library as a React wrapper around NodeGUI (and therefore a wrapper around Qt itself), or is there room for adding more "complicated" components? Should core RN components be implemented as a plugin instead?

From my research, there's a lot that needs to happ

[2020-05-31 22:46] agg23 commented on #162
I am experiencing a similar situation where initially, the layout renders correctly, but changing the component tree breaks the layout in a similar manner. Any window size change restores the proper positions.

[2020-06-01 17:22] agg23 commented on #162
Not sure if this has to do with your issue, but for me it appears to be the sizing of `ScrollArea`. Somehow, the sizing appears to be indeterminate, so changing child nodes shrinks the `ScrollArea`.

[2020-06-02 19:47] agg23 commented on #162
Minimal repro of arbitrary sizing behavior:

[code]

Initial Render:
<img width="612" alt="Screen Shot 2020-06-02 at 12 45 49 PM" src="https://user-images.githubusercontent.com/238679/83562826-0fe3e300-a4cf-11ea-8e5c-209d8094e049.png">

First Click:
<img width="612" alt="Screen Shot 2020-06-02 at 12 46 50 PM" src="https://user-images.githubusercontent.com/238679/83562867-22f6b300-a4cf-11ea-9c31-71

[2020-06-09 19:43] #204 closed

[2020-06-14 15:43] agg23 opened #230 "Reconciler missing last batch"
**Describe the bug**
It appears that under rapid rerender conditions, the React batching system is not flushing the final batch after the rapid updates subside. This results in strange functionality where components are partially updated with some new and some old values.

*Note:* The repro use Redux, so it's possible that the issues is caused by some Redux bug (perhaps in the nonstandard [alterna

[2020-06-14 16:08] kristijanhusak opened #231 "App crash when loading a lot of images"
**Describe the bug**
I'm calling github api and printing out the results, and for each result there is an avatar of the repo owner. After several calls and renders app crashes without any error. When I do not use `<Image>` everything works fine.

**To Reproduce**
It requires some setup, at least for my case, but maybe it is reproducible in some other way. Here are the basic steps:
1. Fetch results

[2020-06-14 16:25] agg23 commented on #231
How many items are you displaying? It appears the API returns 30 results by default. Is that the count you're using?

You don't get any error message at all? What OS are you using?

What happens if you don't use the `Image` component to do the HTTP fetching?

[2020-06-14 16:28] kristijanhusak commented on #231
Yeah, 30 results.

No, app just exits without anything in the console.
Im using Manjaro Linux

When i don't use `Image`, everything works fine.

[2020-06-15 09:02] kristijanhusak commented on #231
Here's a gif how it works for me both with and without images.

![mydemo](https://user-images.githubusercontent.com/1782860/84638723-a795f800-aef7-11ea-8851-ffb9b70f7b0a.gif)

[2020-06-15 09:14] a7ul commented on #231
Does it happen in the production build aswell ?

[2020-06-15 09:15] kristijanhusak commented on #231
@a7ul yeah, i packed it up and tried. Same thing.

[2020-06-16 08:39] kristijanhusak commented on #231
@a7ul It looks like i have some different issue, I'm just not sure why exactly removing images fixes it. Wait on this for now until i figure it out.

[2020-06-16 09:20] kristijanhusak commented on #231
I spent some time debugging it. Turns out something around the state is causing the issue.
I made a demo project so you can look into it yourself: https://github.com/kristijanhusak/react-nodegui-test-project

Basically, when this line is commented out https://github.com/kristijanhusak/react-nodegui-test-project/blob/master/src/app.tsx#L23, there are no crashes.

Also, same as in few comments above

[2020-06-16 15:27] kristijanhusak commented on #231
I made it work with `useReducer` without any issues. I guess my code was causing some issues. Feel free to close this if you think there's anything to fix.

[2020-06-16 18:15] a7ul commented on #231
Thanks for reporting back @kristijanhusak
closing this issue for now.

[2020-06-16 18:15] #231 closed

[2020-06-19 01:02] swittk opened #235 "Access underlying QWidget for Painting, etc."
Hi there. I've been trying out simple programs with React NodeGUI. Works well, no complaints yet :) Thing is, I'm starting to write a graphing component. With Pure NodeGUI, I see we have the QPainter, which can draw into components using the callback addEventListener(WidgetEventTypes.Paint, <draw function>). However, with React-NodeGUI, I couldn't really access the underlying QWidget from the View

[2020-06-19 01:31] a7ul commented on #235
So, RNView inherits from QWidget which basically means you can treat RNView as QWidget from NodeGui. I hope that helps. @swittk

[2020-06-19 03:06] swittk commented on #235
Oh hey, it works now :)
Thanks a lot. I'll be closing this issue then.

Maybe this could be added into the documentation. Maybe in an "advanced usage", or "accessing Qt NodeGUI objects" section or something.

[2020-06-19 03:06] #235 closed

[2020-06-20 08:59] MistahMojo opened #236 "Selectable Text"
Hello, is there a way to make the Text widget selectable by the user?

I can see this in the Qt docs https://doc.qt.io/qt-5/qlabel.html#textInteractionFlags-prop, and this as an enum in the base nodegui https://docs.nodegui.org/docs/api/generated/enums/textinteractionflag, but as far as I can see in the docs there is no way to set this in the react version, as it's not a qproperty or configurable

[2020-06-20 11:37] a7ul commented on #236
Hey @MistahMojo
Seems like textInteractionFlag is a property

So, nodegui has a builting method called `setProperty` that you can use to set it.

In case of nodegui you could do:

[code]

[2020-06-20 11:37] a7ul commented on #236
So if you want to do the same in react nodegui.

For now you could just get a `ref` of the `Text` instance and `ref.current?.setProperty('textInteractionFlags', 1);`

[2020-06-20 11:38] a7ul commented on #236
Alternatively, if you could help add textInteractionFlags as a prop for `Text` on `react-nodegui` library that would be awesome!

[2020-06-20 12:19] MistahMojo commented on #236
Thank you, that works!
I'll had a read through the contributing docs. This is a great tool you've got going and if I can help out in any way I'd love to!

[2020-06-20 12:19] #236 closed

[2020-06-21 00:20] MistahMojo commented on #236
I've found out this can also be done by adding this style to the element:
`qproperty-textInteractionFlags:"TextSelectableByMouse"`

Easier than setting a ref and a `componentDidMount()` to modify it

[2020-07-04 01:35] Satanya0 opened #244 "How to add Effect to `Button`?"
I can call the `setGraphicsEffect()` function for a `QPushButton` object, but I don't know how to do the same thing when use react component `Button` in react nodegui.

[2020-07-07 13:15] einarpersson opened #247 "Syntax highlighting for QPlaintextedit"
I was hoping to create a simple editor with syntax highlighting using [QPlaintextedit](https://docs.nodegui.org/docs/api/generated/classes/qplaintextedit/). However, I can't see any support for the syntax highlightning described [here](https://doc.qt.io/qt-5/qplaintextedit.html). Is this not possible at the moment?

Do you see any possible workarounds or is this a dead end currently?

[2020-07-29 21:40] jabza opened #254 "Modifying WindowFlags causes Window to close"
**Describe the bug**
I am trying to toggle the `WindowType.FramelessWindowHint` windowFlag which causes the window to close.

This happens when changing the windowFlags props of Window or calling setWindowFlag via a ref.

export default function MainWindow() {
[code]

**Expected behavior**
WindowFlags are updated when the props change.

Modifying the icon and title via props works as expected. win

[2020-08-03 21:01] jabza opened #258 "How to text-align center <Text/>?"
Hi,

I'm using the Text component, but it looks like QT css doesn't support `text-align` - is there a way (other than parent centering via flex) to justify text. Currently it always aligned to the left.

Any tips would be much appreciated :)

Thank you

[2020-08-03 21:08] a7ul commented on #258
Hey @jabza  You can use

[code]
in your css stylesheet.

[2020-08-03 21:30] jabza commented on #258
Perfect! Cheers for the quick reply.

This is by far the best (and fastest) experience I've had creating a cross-platform GUI, utilizing React without the bloat of electron.

Thanks for creating this awesome framework :)

[2020-08-03 21:48] #258 closed

[2020-08-12 07:51] #76 closed

[2020-08-15 07:23] gregbenner commented on #70
Is there an example...
[code]

[2020-08-28 07:48] tom-sherman opened #265 "`QSystemTrayIcon::setVisible: No Icon set` when using SystemTrayIcon component on Windows"
**Describe the bug**

`QSystemTrayIcon::setVisible: No Icon set` when trying to use `<SystemTrayIcon>` on Windows.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this repo: https://github.com/tom-sherman/react-nodegui-systemtray-bug
2. Start in development mode
3. `QSystemTrayIcon::setVisible: No Icon set` is logged in the console

**Expected behavior**

Icon to appear in system tray

[2020-09-01 01:17] 100milliongold opened #269 "react-nodegui add QTableWidget?"
Hello

I want to add QTableWidget (https://docs.nodegui.org/docs/api/generated/classes/qtablewidget/), is there an example you would like to refer to?

[2020-09-03 14:22] Alkanores opened #271 "How to compile react-nodegui for production use"
After "npm run build" I can't get .exe file (or another executable file)

[2020-09-03 14:32] a7ul commented on #271
Please use this: https://github.com/nodegui/packer

[2020-09-03 14:32] #271 closed

[2020-09-04 15:57] manideeppabba1991 opened #272 "Is Node GUI and React Node GUI production ready ?"
I have to develop a Desktop application for linux on Raspberry Pi and found out that Node GUI is one option. But I am not sure if this is production ready.

Could you please confirm ?

[2020-09-10 14:09] donskov opened #275 "Allow use link in Text"
**Is your feature request related to a problem? Please describe.**

Can't use link in `Text` (like `<a href="#">link</a>`).

**Describe the solution you'd like**

[code]

**Additional context**

https://stackoverflow.com/a/8427958

[2020-09-12 15:30] Alkanores commented on #271
@a7ul  reopening issue, nodegui/packer don't work (and repository dead, last commit - 17 april)

(node:3860) UnhandledPromiseRejectionWarning: child process exited with code 1
(node:3860) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .cat

[2020-09-12 15:41] Alkanores commented on #271
@a7ul  nodegui/packer don't create .exe

![image](https://user-images.githubusercontent.com/49155506/92999154-8315e000-f527-11ea-8717-21d2f3cd2d47.png)

![image](https://user-images.githubusercontent.com/49155506/92999104-07b42e80-f527-11ea-9128-be1204cdc981.png)

[2020-09-14 18:52] Alkanores commented on #271
@a7ul any update?

[2020-09-19 06:44] gregbenner commented on #31
that fork doesn't seem to work anymore... :( `Error: Cannot find module 'got'`
I just want a circle in my application, and css border-radius: 50% doesnt seem to work either

[2020-09-19 16:01] gregbenner commented on #275
You can use open to open links https://github.com/nodegui/react-nodegui-starter/blob/master/src/components/steptwo.tsx#L9

[2020-09-20 20:35] Alkanores commented on #272
https://github.com/nodegui/react-nodegui#react-nodegui

[2020-09-21 14:36] donskov commented on #275
@gregbenner Thanks for the response, but I need to use a link in the text without an extra button.

Your solution helps me:

[code]

[2020-09-21 14:36] #275 closed

[2020-09-21 16:26] donskov opened #286 "QMessageBox component support"
**Is your feature request related to a problem? Please describe.**
We have a small application based on Electron and have plans to use nodegui instead (less voracious to resources). Application has some actions which need to be confirmed by the user.

For example `remove`:

![image](https://user-images.githubusercontent.com/9417251/93793909-1c3ba980-fc40-11ea-91aa-e5117969b3da.png)
![image](https:

[2020-09-21 18:47] gregbenner commented on #275
I'll add this as an example to the docs when I get a sec thanks for sharing

[2020-09-22 01:12] gregbenner commented on #286
Think it might just need to be ported to react https://docs.nodegui.org/docs/api/generated/classes/qdialog/

[2020-09-22 02:58] gregbenner commented on #132
added a plaintextedit example https://github.com/nodegui/react-nodegui/pull/290

[2020-09-22 08:52] donskov commented on #286
@gregbenner Could you help to create `Dialog` component?

[2020-09-26 05:23] gregbenner commented on #286
I'm sorry I'm not that well versed with typescript or the internals of the project yet

[2020-10-20 01:44] Chris533 commented on #272
How to use Drag and Drop in react-nodegui ?
nodegui works well, ref: https://docs.nodegui.org/docs/guides/drag-drop

[2020-10-20 01:52] Chris533 commented on #272
@a7ul thx,  View have not include  setAcceptDrops property, and QDragMoveEvent not be included in @nodegui/nodegui types.

[2020-10-22 16:47] terryyoung22 opened #300 "Cant do functions with created push button"
**Is your feature request related to a problem? Please describe.**
I am trying to find clear documentation on how to execute a command locally

**Describe the solution you'd like**
Trying to build an automation desktop app for my devs and not sure how to link my created button to execute a command, do more then console.log

**Describe alternatives you've considered**
not much, didnt know if it wou

[2020-10-22 18:28] a7ul commented on #300
Hey @terryyoung22

Can you use the nodejs's inbuilt  child_process exec to execute your script ?

https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback

[2020-10-22 18:44] terryyoung22 commented on #300
Hey @a7ul I will for sure try and take a look. I wasnt sure if that was an acceptable call within the react-nodegui framework. I will try it, thank you.

[2020-10-22 18:48] a7ul commented on #300
react-nodegui is just a library that works on top of NodeJs. Hence you can call any nodejs api.
Since this is not an issue with react nodegui I am going to close this issue.

[2020-10-22 18:48] #300 closed

[2020-10-26 16:56] yvz5 opened #302 "is navigation supported ?"
Hi all.

first of all, great project. keep it up !

one  thing that is really important is navigation between screens. there is reactnavigation for react-native, would that work with this project ? if not, what are the alternatives ?

[2020-10-26 17:06] a7ul commented on #302
Yes it is. check here: https://github.com/nodegui/examples/tree/master/react-nodegui/react-router-example

React router is supported

[2020-10-26 17:07] #302 closed

[2020-11-02 17:08] ppzzppz opened #306 "How to pin window to top all over other application ?"

[2020-11-02 17:57] a7ul commented on #306
You can use this as a reference:   https://github.com/nodegui/examples/blob/24233911a5b36977dd08bd16d8175413aac0ce82/react-nodegui/weather-app-widget/src/index.tsx#L121

along with https://forum.qt.io/topic/1368/solved-how-to-make-always-top-window

[2020-11-03 13:05] v4dkou commented on #210
I wonder if some collaboration could happen with https://github.com/status-im/react-native-desktop-qt

[2020-11-25 06:07] lovelyJason commented on #45
macos can install cmake by 'brew install cmake'.What should I do to install cmake on windows platform

[2020-11-25 06:22] lovelyJason opened #311 "npm install failed on windows"
**Describe the bug**
I make sure I was installed cmake on windows, and then I used 'npm install' on the repo 'https://github.com/nodegui/react-nodegui-starter' project.It failed and throw the error like these:

`

Cached archive already exists at C:\Users\kingdee\AppData\Local\qode-nodejs\Cache\qode-win32-x64-v2.1.0.tar.gz. Skipping download....
Extracting C:\Users\kingdee\AppData\Local\qode-nodej

[2020-11-25 07:09] jabza opened #312 "QComboBoxListView(0x2465b85e250) does not have a property named "yBorder""
I'm setting the border of a QComboBoxListView, which _does_ working, however, the following error message fires every render:

QComboBoxListView(0x2465b85e250)  does not have a property named  "yBorder"

I can't remover the border here as the styling is needed, not much documentation that I can find - but the border style is being applied so this error seems to be a false positive?

[2020-11-25 07:35] jabza opened #313 "Add QTextEdit"
QPlainTextEdit is useful but rather limited, such as text alignment not being supported.

Would it be possible to expose QTextEdit in react-nodegui?

Or, is there a way to use .appendHtml() within QPlainTextEdit, this could help with a basic level of text styling.

***Update***

I was able to get around this problem by using Text element wrapped with a ScrollContainer - don't know why I didn't thi

[2020-11-25 22:57] #313 closed

[2020-12-04 02:33] lovelyJason commented on #311
Why don't you call me back?

[2020-12-07 04:00] Eeems commented on #162
I'm also experiencing this.

[2020-12-07 18:36] joepie91 opened #320 "Interpolated content not escaped?"
**Describe the bug**

Looking at [the starter template](https://github.com/nodegui/react-nodegui-starter/blob/393ed55dce1d047beb0b1274d6774e0dace24376/src/components/stepone.tsx#L12-L22), I noticed that interpolated strings do not appear to get escaped (as evidenced by the possibility of interpolating HTML without using `dangerouslySetInnerHTML`).

In standard React + React-DOM, interpolated conte

[2020-12-23 06:55] jabza opened #328 "[Webpack] Conflict: Multiple assets emit different content to the same filename nodegui_core.node"
**Describe the bug**
Seeing a warning from Webpack about two 'assets' 'emitting different content' to nodegui_core.node.

My project uses:
"@nodegui/nodegui": "^0.27.0",
"@nodegui/react-nodegui": "^0.10.0"

Removing nodegui doesn't appear to remove the warning.

I believe this warning started when I upgraded from nodegui@0.24.0

Everything appears to work, but a possible cause for concern?

[2020-12-23 08:00] a7ul commented on #328
you could remove nodegui from your dependencies since react-nodegui has it under its dependencies.

It should be okay actually. But to double check can you print `npm ls @nodegui/nodegui` and see if two different node modules are installing it.

[2020-12-23 08:00] #328 closed

[2020-12-28 12:52] jabza commented on #328
I have ran `npm ls @nodegui/nodegui` which yields:

[code]

I am required to include nodegui directly in my react-nodegui in order to work with the primitive Q classes nodegui provides.

What is odd is that removing nodegui and using only react-nodegui, I still get the webpack warning.

[2020-12-29 06:56] ArashMM opened #331 "Discord Server is much required"
**Is your feature request related to a problem? Please describe.**
Every issue/problem can be discussed on a Discord server

**Describe the solution you'd like**
We would like to have Discord server where we can live chat and discuss our problems or grow the community and also be able to meet other developers that are also working with (React/Vue) NodeGui.

[2020-12-30 04:37] R-Bower opened #332 "OS key events (globalShortcut)"
**Is your feature request related to a problem? Please describe.**
The react-nodegui instance can't detect key events when the application doesn't have focus.

**Describe the solution you'd like**
Detect keyboard events when the application does not have keyboard focus (similar to electron's globalShortcut)

**Describe alternatives you've considered**
* Using a local redis store for storing and re

[2020-12-30 05:38] a7ul commented on #332
Can you see if there are any existing node module that does this already ?

[2020-12-30 05:40] a7ul commented on #332
https://www.npmjs.com/package/iohook

This should do it?

[2020-12-30 05:41] R-Bower commented on #332
`import iohook from "iohook"`
then, when running the app:
[code]

[2021-01-04 16:36] Stancobridge commented on #331
Yeah this is true, sure needed

[2021-01-05 21:16] noahbrandyberry commented on #331
Who would be the one to add this? I would be open to creating it if no one else wants to.

[2021-01-06 20:12] aramodi commented on #331
I'm willing to create the Discord server, I'll transfer the ownership of the server to the respected author of this project.
Permanent invite link: https://discord.gg/xK9RXquS9c

[2021-01-22 14:40] KRTirtho opened #336 "After npm start showing "Attribute Qt::AA_ShareOpenGLContexts must be set before QCoreApplication is created. Attribute Qt::AA_EnableHighDpiScaling must be set before QCoreApplication is created""
**Describe the bug**
I was using **react-nodegui-starter** to initiate my project. For the first time it worked. Then I upgraded the outdated `react-nodegui v0.9.0 -> v0.10.0` & `nodegui v0.25.0 -> v0.27.0`. After upgrading to latest `react-nodegui` I'm facing this error.
[code]
This error just showed up. I cleaned `node_modules` folder & retried with `npm install`. Then I got following error whil

[2021-01-24 06:04] KRTirtho commented on #336
Is this project stale??? No one from support team!?

[2021-01-29 16:27] kimkanu opened #337 "`setContentsMargins` is not accessible via current `GridView` API"
**Describe the bug**
The method `setContentsMargins(int left, int top, int right, int bottom)` (inherited from `QLayout`) is not accessible via current `GridView` API.

**To Reproduce**
One may see the blue padding inside the `GridView` component.

[code]

**Expected behavior**
One should be able to control content margins.

**Screenshots**
![image](https://user-images.githubusercontent.com/225981

[2021-01-29 16:32] kimkanu commented on #337
I found another bug: `GridRow` and `GridColumn` behave weirdly inside `GridView`.

[code]

Results:
![image](https://user-images.githubusercontent.com/22598138/106301106-a654e800-629a-11eb-86e3-0098ce70f2f2.png)

Those child components are not fit into the parent `GridView`. I think it is not intended.

[2021-02-03 10:28] danielo515 opened #338 "Can I use node packages?"
Hello.
I didn't found any reference on the docs saying if I can use node packages directly or how should I use them.
I understand that packages that require native bindings may be tricky, but what about normal packages/modules like fs, path, http and those? Can I just require and use them happily on any place?

Regards

[2021-02-03 11:01] a7ul commented on #338
Yes you could use any regular node module.
Under the hood its just nodejs

[2021-02-03 11:01] #338 closed

[2021-02-13 06:30] Sydney-o9 opened #339 "Pie Chart"
Hi there,

Outstanding work - easy to set up and get started.

Would you be able to provide a bit of guidance as to how to create a Pie Chart?

![image](https://user-images.githubusercontent.com/1480617/107843634-06ae6280-6e21-11eb-8e03-2a59b08ac6d7.png)

I'd know how to do it in the browser, but how does it work in this scenario?

Thank you!

[2021-02-13 19:14] amg98 opened #340 "Problems rendering MenuBar with Actions"
**Describe the bug**
I've been struggling in trying to make a menu bar, actions do not appear under each menu.

**To Reproduce**

The component below holds the menu I'm trying to render:

[code]

Here is the main app component:

[code]

**Expected behavior**
It's suppossed to render the menu with the specified actions. Menus show fine but not actions. When I click a menu, nothing shows up.

**Desk

[2021-02-13 19:55] amg98 commented on #340
Nvm, I had to just set the "on" property with some events.

[2021-02-13 19:55] #340 closed

[2021-03-05 05:16] JulianSolros commented on #46
@a7ul where is the scrollview example? I don't see it in the starter project....

[2021-03-06 07:28] MistahMojo commented on #339
Hi - under the hood the project uses Qt widgets instead of HTML.

A quick search on the Qt Docs yields the following Qt display classes:
https://doc.qt.io/qt-5/qml-qtcharts-pieseries.html
https://doc.qt.io/qt-5/qpieseries.html
https://doc.qt.io/qt-5/qpieslice.html

And a tutorial: https://doc.qt.io/archives/qt-5.11/qtcharts-piechart-example.html

These will need to be added into the core NodeGui b

[2021-03-06 13:07] KRTirtho commented on #336
Fixed it in linux.. Update the  nodegui & react-nodegui to newest version. Also install all the plugins of qt to remove this error/warning..
In ubuntu/debian run:
[code]
Its often is an **overkill** for the libraries needed for qt to use with node-gui.. Since I don't know the specific packages needed  for the `qt5-default` to be able to use it with nodegui I had to use it. After all it only takes

[2021-03-06 13:07] #336 closed

[2021-03-06 13:30] KRTirtho opened #341 "[Packaging] Packed application's *.appimage or AppRun doesn't execute on double click in Linux"
**Describe the Problem**
After packaging the application with `nodegui-packer`, even after a successful build the generated `<app-name>.appimage` or `AppRun` doesn't get executed after double clicking from the file-explorer.. But the application works fine if I execute using the **terminal** or **commandline**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [My Application's source cod

[2021-03-06 14:46] a7ul commented on #341
Not sure the use case

but seems like the app tries to read a file from tmp directory that doesnt exist ?

You can verify this by running the app image via commandline like so:

[code]

![image](https://user-images.githubusercontent.com/4029423/110210624-c4fa6000-7e92-11eb-8392-6053c74634e9.png)

This doesnt look like the issue caused by nodegui and hence will be closed.

[2021-03-06 14:46] #341 closed

[2021-03-06 16:59] KRTirtho commented on #341
Sorry @a7ul, I mistakenly didn't pushed my updates to the upstream😅 thus this issue was available at that time... Please try now pulling the updates from upstream...
Sorry for the hazards... But its a great project, Thanks for presenting this to the community❤️

[2021-03-06 22:44] a7ul commented on #341
I tried this and could build the app and run it as expected.
All I did was bump the nodegui and react nodegui to latest versions and use packer to build.
You can download it here: https://gofile.io/d/3YVFJY

The app launches successfully when I launch it by double clicking or even if i execute via commandline

[2021-03-07 03:58] dshomoye opened #342 "ScrollArea not working properly (MacOS Big Sur 11.2.2)"
**Describe the bug**

`ScrollArea` does not seem to work with nested view (no scrollbars).

It's a little confusing because rendering a single `Text` component inside the scroll area works.

Like so:

[code]

Which yields:

<img width="277" alt="image" src="https://user-images.githubusercontent.com/5133948/110228212-34347c00-7eb4-11eb-8563-31bb114599c4.png">

But nesting the `Text` in a `View`, in

[2021-03-07 09:30] KRTirtho commented on #341
Thanks, @a7ul , upgrading to latest nodegui & react-nodegui version fixed the issue. But for some reason the `ScrollArea` widget seems to be not working & also the `BoxView` is throwing error. To test if my code was wrong, I created a new test project with the react-nodegui-starter repo & updated the dependencies to latest version but the `ScrollArea` still doesn't work & there are no scrollbars (

[2021-03-07 19:45] a7ul commented on #341
@KRTirtho  Can you bump the nodegui and react nodegui to latest version and try again

[2021-03-08 06:50] KRTirtho commented on #341
Well, `ScrollArea`  now works but for some reason `View` inside it isn't getting the **full width** even after using `flex: 1;` for the style of the `View`. Also if I don't use `flex: 1;` in `ScrollArea` nothing inside it is displayed.
Code:
[code]
This is how it looks with this code
![Screenshot from 2021-03-08 12-37-59](https://user-images.githubusercontent.com/61944859/110284721-648f2e00-800c-1

[2021-03-08 07:50] KRTirtho commented on #342
Just upgrade to the latest versions of nodegui & react-nodegui

[2021-03-08 21:26] dshomoye commented on #342
I updated to latest but I'm still seeing the issue. It doesn't seem to be marked as fixed either, just going by [this](https://github.com/nodegui/nodegui/issues/592#issuecomment-792264782).

[2021-03-08 23:10] a7ul commented on #342
@dshomoye Have you updated the react nodegui and nodegui versions ?

I tried your example and it looks like its working as expected

<img width="390" alt="image" src="https://user-images.githubusercontent.com/4029423/110393949-d34fa400-806b-11eb-83dd-8aec2b83d3d4.png">

That issue is closed and fixed.

[2021-03-09 01:19] dshomoye commented on #342
You're right, I'm not sure what happened when I had initially tested, but it seems this is not the problem I have.
Does ScrollArea adapt to `View` size changes after first-render?

In my case, I'm getting an array of objects and rendering them into a `View` after rendering (in a `useEffect`). If I use static values the scroll area actually works (from the latest update).

I have a sample code here

[2021-03-10 09:21] waltersajtos opened #343 "Error while downloading Qode v2.1.0: Not Found"
**Describe the bug**
I am trying to install Qode on Linux but it can't download the right release.

**To Reproduce**
Steps to reproduce the behavior:
1. Download starter project
2. Run npm i
3. Error while setting up Qode:  Error: Error while downloading Qode v2.1.0:https://github.com/nodegui/qode/releases/download/v2.1.0/qode-linux-arm64-v2.1.0.tar.gz. Not Found

**Expected behavior**
I'm expecti

[2021-03-14 11:47] KRTirtho commented on #341
@a7ul would you kindly give me some kind of solution to the above [problem](https://github.com/nodegui/react-nodegui/issues/341#issuecomment-792515899). This issue still persist even after upgrading to latest version of nodegui@v0.30.2 & react-nodegui@v0.10.4. `View` inside `ScrollArea` taking only half of the size of the available space, `flex: 1` or `width: '100%'` aren't working too

[2021-03-16 16:27] momesana commented on #343
The download link from your logs suggests you are building on an ARM platform: https://github.com/nodegui/qode/releases/download/v2.1.0/qode-linux-arm64-v2.1.0.tar.gz
There is no bundle for that platform as can be seen here: https://github.com/nodegui/qode/releases/. The provided bundles cover
darwin-x64, inux-x64 and win32-x64 only.

[2021-03-17 10:17] waltersajtos commented on #343
Is there a possibility to add that? I'm kind of new in the linux scene so I really don't know how much work this is

[2021-03-17 10:54] a7ul commented on #343
Right now qode is compiled using github actions

And github actions only support some intel chips for linux.

See the commit here: https://github.com/nodegui/qode/blob/602cb55099a7770f9869150c1b1925e9b99448c2/.github/workflows/linux.yml#L6

and the supported github actions environments here: https://github.com/actions/virtual-environments

[2021-03-17 15:25] waltersajtos commented on #343
Alright, that makes sense. Thanks! Is there an easy way I could compile this myself on an arm64 platform?

[2021-03-26 11:38] #108 closed

[2021-03-30 21:19] DougDevCP opened #346 "Cannot implement node modules"
I am trying to implement the example from this [website](https://reactnativecode.com/creating-sqlite-database-table-in-react-native/) without success.

I have installed react-native and react-native-sqlite-storage modules, but getting the following message after executing npm run build:

Hash: 67262a2c754e5f60a5f7
Version: webpack 4.44.2
Time: 837ms
Built at: 03/31/2021 12:09:42 AM
 1 asset
Entryp

[2021-04-06 08:01] KRTirtho commented on #346
You're trying to implement/create a local sqlite db, right? But `react-native` & `react-native-sqlite-storage` only works with IOS/Android devices. `react-native-sqlite-storage` package binds android/ios's sqlite db for react-native. But this modules doesn't work in desktop environments. You can use [sqlite](https://www.npmjs.com/package/sqlite) & [sqlite3](https://www.npmjs.com/package/sqlite3) p

[2021-04-06 08:03] a7ul commented on #346
React Native is different from what react-nodegui is.

Instead of using react-native's sqlite, you could try a node module that works with nodejs instead.

[2021-04-06 08:03] #346 closed

[2021-04-06 12:04] KRTirtho commented on #140
`QSlider` was added as `Slider` in 8486cec
`QColorDialog` is now available as `ColorDialog` (#344 )

[2021-04-06 16:39] #269 closed

[2021-05-13 13:44] cobus-meyer opened #348 "RangeError when using GridView or BoxView"
**Describe the bug**
I am unable to use GridView or BoxView as layout for my app. Any sort of implementation of these two layout returns `RangeError: Maximum call stack size exceeded`

**To Reproduce**
I assume this is very specific to my setup since I see no other related issues, but even if I use the featured examples of these layouts (https://react.nodegui.org/docs/guides/layout) based on the r

[2021-06-02 03:18] anwar-kt commented on #348
Did you resolve this issue ?

[2021-06-02 09:20] cobus-meyer commented on #348
Hi Anwar, unfortunately not. I moved over to a different GUI building framework.

[2021-06-03 04:27] anwar-kt opened #349 "Functional components fails hot rendering"
initially I started working with react-nodegui-starter code.  where

the `index.tsx` looks as follows

[code]

and the `App.tsx` is as per below

[code]

Everything works fine, but when I rewrite the class component to a functional component as follows it doesn't support hot reloading.

`App.tsx`

[code]

If I enable `Renderer.render(<App />);` inside the `App.tsx` file, then it opens one addition

[2021-06-03 07:20] a7ul commented on #349
the current hot loading requires top level root component to be a class component. you can implement everything else as a functional component except App

[2021-06-03 11:38] anwar-kt commented on #349
@a7ul Thank you

[2021-06-03 11:41] #349 closed

[2021-07-01 14:47] kriptonhaz opened #350 "Error when store state value from PlainTextEdit"
**Describe the bug**
When trying to setState the value from PlainTextEdit it's always get an error after second keystrokes. The error shown like this

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the documentation for PlainTextEdit in here https://react.nodegui.org/docs/api/interfaces/plaintexteditprops/
2. Change console.log into any setState hooks
3. See error

**Expected behavior

[2021-07-01 17:01] kriptonhaz commented on #129
do you start this project from CRA template? if so I encounter this problem too, but if I clone the repo with the version react nodegui 0.10.2 everything seems to be fine (using a percentage in style) but with the version from CRA template seems to be broken

[2021-07-05 09:09] FaultyFunctions opened #351 "[Question] How do I go about drawing an infinite grid?"
Is this sort of thing possible? Also if the react-nodegui side of things doesn't have a feature, can you use nodegui? How do you mix and match?

Sorry I'm sort of a newbie with this stuff. Thanks!

[2021-07-10 16:24] skotchpine opened #352 "StyleSheets like React Native (for tooling interoperability)"
Having the same (or similar) APIs to react native means we can share tooling. In my case, I'd like to use react-native-tailwindcss, but can't

I'd like to be able to use javascript objects to style components, like react native does (though the features shouldn't be 100% same, probably.

Is it reasonable? How would we implement this?

[2021-07-10 18:22] Solant commented on #352
Hi

I did something similar to RN stylesheets here: https://github.com/Solant/nodegui-stylesheet
You can create a main stylesheet with all reused utility classes

However, there are some differences between regular CSS, RN styles, and Qt CSS, so they won't be 100% compatible

[2021-07-10 19:09] skotchpine commented on #352
That's pretty close to what I was looking for.

I'll see how I can get around the unit function and avoid actually calling create.

[2021-07-18 19:12] matteoturini opened #353 "React Native interop"
**Is your feature request related to a problem? Please describe.**
I am going to be making a note taking app, and instead of making it in electron, I want to make it truly cross platform with same codebase for mobile, web, and desktop.

**Describe the solution you'd like**
The ability to use React Native components directly in NodeGUI.

**Describe alternatives you've considered**
Remaking my app i

[2021-08-05 09:57] pjalsGit opened #354 "hot reloading not working?"
**Describe the bug**
well.. hot reload doesnt work

**To Reproduce**
Steps to reproduce the behavior:
1. get latest react-nodegui-starter
2. run `yarn (or npm) run dev`
3. also run `yarn (or npm) run start`
4. try to change code
5. wont change

**Expected behavior**
it should change the behavior/look of the window

**Screenshots**
well i have no idea how to describe it in images

**Desktop (please

[2021-08-12 14:18] phungthelam1996 commented on #348
My solution to fixed
`get layout() {
    return this.layout;
  }`
change this code to below in file https://github.com/nodegui/react-nodegui/blob/master/src/components/GridView/RNGridView.ts
`get layout() {
    return this._layout;
  }`

[2021-08-12 14:34] a7ul commented on #348
Can you raise a pr @phungthelam1996 ?

[2021-08-15 08:43] phungthelam1996 opened #355 "Mobx Table cellRange not working?"
**Describe the bug**
Console.log showing `Row "1" is out of range "-1"` when change table data

**How to fix**
Add code to file `RNTable.js`
[code]
on  `setTableProps` function -> `setter`

Sorry. My English very bad!!

[2021-08-15 11:47] a7ul commented on #355
Hi @phungthelam1996  can you raise a pr for this?

[2021-08-16 21:46] #348 closed

[2021-08-17 22:52] theLMGN opened #358 "Bad URL Protocol C: when running on Windows."
**Describe the bug**
Images fail to load when running under Windows.

[code]

**To Reproduce**
[code]

**Expected behavior**
The image loads like it does on other platforms.

**Desktop (please complete the following information):**
 - OS: [e.g. Mac, Linux or Windows] Windows
 - NodeGUI version 0.35.0
 - React NodeGUI version 0.12.0
 - OS Version Windows 10 1809

**Additional context**
I am not usi

[2021-09-07 17:14] jsilva23 opened #359 "react nodegui call stack exceeded error when using GridView/ BoxView components"
The above error occurred in the <gridview> component:
    in gridview (created by App)
    in mainwindow (created by App)
    in App

Consider adding an error boundary to your tree to customize error handling behavior.
Visit https://fb.me/react-error-boundaries to learn more about error boundaries.
/home/jsilva/Documents/react-nodegui-starter/dist/index.js:37888
      throw error;
      ^

RangeEr

[2021-09-09 12:28] jsilva23 opened #360 "What should I use to manipulate audio in react nodegui?"
I'm trying to create a simple music player with react nodegui. Is there a way to manipulate audio with nodegui?
I have been trying to use howler.js but to no avail.

[2021-09-09 12:31] ithustle opened #361 "Running for the second time no Macbook M1"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**Desktop (please complete the following information):**
 - OS: macOS Apple M1,
 - NodeGUI version: ^0.37.3
 - React NodeGUI version: ^0.13.0
 - OS Version: Big Sur 11.4

**Additional context**
Add any other context about the problem here.

[2021-09-09 13:06] a7ul commented on #361
have you followed this guide here for M1: https://docs.nodegui.org/docs/guides/getting-started#using-your-own-custom-qt-installation-optional

[2021-09-09 13:21] a7ul commented on #360
You could use any library supported by plain nodejs.
nodegui in the end runs on top of nodejs (qode)

[2021-09-09 13:21] #360 closed

[2021-09-09 13:21] #361 closed

[2021-09-09 13:44] ithustle commented on #361
@a7ul, I realize that I've tried yesterday and today I was able to run once but after updated all dependencies and installed one I cannot run the app.

[2021-09-09 14:58] ithustle commented on #361
Now, I'm having this issue

[code]

[2021-09-16 19:37] yumindev commented on #188
But this project, https://github.com/ruslang02/discord-qt, is using scss file.

[2021-10-27 07:51] ghost opened #366 "[Question] How do I use an SVG as an app background?"
I need to use an svg (in a file) as a background. How do I do that?

P.S. Spectrum is read-only now, you should move to something like Matrix/Libera.chat/Discord/Telegram/Slack.

[2021-11-22 14:54] yangpeng1994 opened #367 "It seems that react third-party component libraries are not supported"
It doesn't seem to support react third-party component libraries, such as "antd" and "semi", but I believe it will become more and more powerful.

[2021-12-06 02:12] shenghan97 commented on #132
I spent hours until I figured this out! Haha! I can use inline events without issue, but once I turned it into an event handler hook it won't work anymore...

 It would be nice if this is included in the document here! ;) [](https://react.nodegui.org/docs/guides/handle-events)

[2021-12-18 04:49] CapitaineJSparrow commented on #46
Hello, i'm looking for the scrollview example as well

[2021-12-19 02:52] ADARSHYODHA commented on #60
Hello @a7ul
 Can u tell me how can we make a messagebox or alertbox in react-nodegui

[2021-12-19 18:03] a7ul commented on #46
https://react.nodegui.org/docs/guides/scroll-view

[2021-12-21 12:14] poky1084 commented on #103
I have the same issue with QTextEdit.

**Here is some code:**
[code]
I tried to set the scrollbar position by setting setCursor(), to the end of Qtextedit, but without success.
i made a new QCursor and changed its pos y=9999999 - to a high value  - in hope that it will scroll to the end of the Qtextedit while adding text with newlines to the component.

Any ideas?

[2021-12-25 19:25] Levyks commented on #367
Isn't that expected? It does not use HTML

[2021-12-29 14:06] academo commented on #46
Currently using

[code]

I can't get the scrollview to render a children on full width, it somehow forces the child to use the min width possible. I tried many combinations setting flex: 1 to the scroll area, children and so on but so far nothing.

If I were to render only the child without the scroll area, it will work all fine, but when the scroll area is added, all breaks.

[2021-12-29 15:18] CapitaineJSparrow commented on #46
@academo I'm experimenting exactly same behavior

[2022-01-11 20:15] ZaLiTHkA commented on #354
same here, affected both Windows 10 and Pop!_OS 21.10 for me, with both Node 14 and 16..

feedback in the terminal shows the project rebuilding, but the rendered window simply doesn't "refresh".

[2022-01-14 23:13] Hydrair commented on #354
Can confirm, no hot reloading on Pop OS 21.10, followed the Getting started section.

[2022-01-19 22:50] ZaLiTHkA commented on #354
so, after messing around trying to get Volta working, I just got the current `nodegui/react-nodegui-starter` project up and running (_with NVM, not Volta.._) and hot reload is working.. 🤔

my current project was created from [this commit](https://github.com/nodegui/react-nodegui-starter/tree/cb1da017886aacb4a62302d49bc996162682f00b), and my environment has the following:

[code]

hmmm... I'll try

[2022-01-20 07:26] pjalsGit commented on #354
well I am using yarn, that might be the issue?

[2022-01-21 06:25] ZaLiTHkA commented on #354
trying this again on my Windows 10 PC this morning, I now have hot reload working.. same Node and NPM versions, cloned `react-nodegui-starter` from the same commit (current `HEAD`, fwiw), launched `npm run dev` and `npm start`, and changes to `src/app.tsx` are reflected in the running app almost instantly.

so, VSCode "Package Json Upgrade" shows a bunch of newer versions available for _virtually_

[2022-01-21 07:04] ZaLiTHkA commented on #354
ah, I think I've got something.. I was just running through this with the newer versions of `@nodegui/react-nodegui`, while leaving **all other deps alone**.

both `0.11.0` and `0.12.0` are good, with hot reload working as expected. but then I run into issues trying to install `0.13.0`. it seems the [upgrade from `0.12.0` to `0.13.0`](https://github.com/nodegui/react-nodegui/compare/v0.12.0...v0.1

[2022-01-22 00:22] asjur commented on #359
This is still an issue, occurred with both BoxView and GridView.

[2022-02-09 12:14] liuqi-sun opened #369 "RNList and FlexLayout"
appendChild(child: RNListItem): void {
    if (!this.layout) {
      this.setLayout(new FlexLayout());
    }

    if (!(child instanceof RNListItem)) {
      throw new Error("Children of list should be of type ListItem");
    }

    this.addItem(child);
    if (child.actualListItemWidget) {
      child.setSizeHint(child.actualListItemWidget.size());
      this.setItemWidget(child, child.actualList

[2022-02-14 03:04] Sledmine commented on #354
Same here, does not work in Pop OS 20.4, fresh install, no hot reloading at saving files, I want to take a look too and contribute with a possible fix, but until that, hopefully someone can take a look at this faster than me

[2022-02-20 15:55] DeDu-OS commented on #359
I'm also having the same issue as of the time of posting this. If it's us, a little direction from the devs would be helpful.

[2022-03-03 18:09] ProjectInfinity commented on #359
Seems like this project is a bit unmaintained.

[2022-03-04 16:03] pseudoramble commented on #354
I also cloned the starter project, and then used yarn (1.x series) to set things up and noticed hot reloading wasn't working. So I redid the setup using npm (8.3.1) and it seems to work fine with that configuration. I'm not really sure why that would matter, but it does seem to. I'm guessing it's because it's not respecting the package lock file and a newer dependency has an issue of some sort.

[2022-05-06 14:39] keshavnagpal12 opened #370 "process dlopen: Cannot find symbol in flat namespace"
Hello,
I am getting the following error:
[code]

Steps to reproduce:
[code]

[2022-06-16 14:49] renetik opened #371 "Can I create Intel windows binary on Apple Arm M1 machine ?"
I believe not so is it at last possible to develop it on Apple Arm M1 and then easily just create binary and installer on windows machine ?

Background:
I own M1 computer but have job offer to create widows desktop application but I am quite puzzled on how to accomplish that.

[2022-07-08 14:39] Dauto98 opened #373 "libQt5Core.so.5: version `Qt_5.15' not found"
**Describe the bug**
When I import anything from `@nodegui/nodegui` I will get the error
[code]
although I have install qt5 on the system. But I think that might be irrelevant since it looks like nodegui is shipped with its own version of qt

**To Reproduce**
Just create a simple app (Hello world may work) and import anything from `@nodegui/nodegui`. For example
[code]
Note that I init the project

[2022-07-08 14:47] Dauto98 opened #374 "Cannot receive close event of FileDialog"
**Describe the bug**
When using FileDialog I would like to handle the event when the user close the dialog through Cancel button or Alt-F4. Basically any way that is not selecting a file. The problem is I cannot find any event that is fired when I close the dialog this way. It is needed so I can set the open state back to false.

How can I handle this use case?

**To Reproduce**
Sample code
[code]

[2022-07-08 15:12] Dauto98 commented on #374
I am debugging the issue and the problem seems to be no event is fired when I close the dialog through Cancel button (`logExceptions` not called in `class EventWidget extends Component_1.Component` in `node_modules/@nodegui/nodegui/dist/lib/core/EventWidget.js`).

Not sure is it related to the #373 issue (another issue of mine)

[2022-08-09 04:13] rsshilli opened #375 "Can I create submenus for System Tray Menu Actions?"
Hello,

First, thank you for creating this package! It's really nice.

I'd like to create a submenu for one of my action items in my system tray. For example, I have something like:
[code]
And I'd like to make a submenu for my action. So something like:
[code]
Very similar to what's being shown off here: https://github.com/nodegui/examples/blob/master/nodegui/systray/src/index.ts#L35-L55

Is this

[2022-09-14 06:28] funcelot commented on #258
Does not work on Qt6 on Windows 10

Works as

[code]

[2022-10-04 15:35] HAKANKOKCU commented on #311
they seems like never gonna fix it

[2022-10-22 13:51] nuttyartist opened #378 "Is List component same as FlatList (efficient renderer)?"
Hi, is the supported component here for lists the same as FlatList in the sense it renders only what's necessary? If not, are there plans to support it?